mixin Franchise-form(param={})
    if(param.franchiseForm)
        +About-banner({
            container: true,
            isSubtitle: true,
            subtitle: 'Станьте партнером и создайте прибыльный бизнес с нашей гарантированной поддержкой на каждом этапе.',
            addClass: 'about-banner__form',
        })
    .franchise-form
        .container
            form.form
                .title=param.title 
                .form__row
                    +Input({ placeholder: 'Имя', required: false })
                    //- +Input({ placeholder: 'Телефон', required: false, mask: 'phone' })
                    +Input({placeholder: 'Телефон', mask: 'phone'})
                    +Input({ placeholder: 'Почта', required: false, type: email })
                    +Input({ placeholder: 'Город', required: false })
                .form__row
                    p.disclaimer * Нажимая кнопку «Отправить», вы даете свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в согласии на обработку персональных данных и на получение вами рекламной информации (в том числе в форме рекламной рассылки) в информационных, рекламно-информационных целях.
                    button(type='submit').c-btn.c-btn_red Отправить заявку