.modal-franchise-format {
  padding: 10px;
  .modal {
    &__body {
      padding: 89px 86px;
      display: grid;
      // grid-template-columns: 800px 600px;
      grid-template-columns: 4fr 3fr;
      gap: 90px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(178, 186, 198);
        border-radius: 2px;
      }
      scrollbar-width: thin;
      scrollbar-color: rgb(178, 186, 198) #fff;
    }
  }
  .content-container {
  }
  .img-container {
    height: 100%;
    width: 100%;
    img {
      object-fit: contain;
    }
  }
  .business-application-form {
    grid-column: 1 / 3;
  }
  .title-type {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .subtitle {
    color: rgba(76, 81, 85, 0.5);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    // flex: 0 0 50%;
    // max-width: calc(50% - 9px);

    span:not(.text-black) {
      color: rgba(76, 81, 85, 1);
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &-title {
      color: rgba(76, 81, 85, 1);
      font-size: 20px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 11px;
    }
    li {
      color: rgba(76, 81, 85, 1);
      font-size: 20px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
      position: relative;
      // padding-left: 29px;
      padding: 0 0 0 29px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        // top: 50%;
        // transform: translateY(-50%);
        width: 19.15px;
        height: 19.15px;
        border-radius: 4px;
        background-color: transparent;
      }

      &::after {
        content: '';
        position: absolute;
        left: 6px;
        // top: 50%;

        top: 0px;
        width: 6px;
        height: 10px;
        border-right: 2px solid rgba(0, 171, 223, 1);
        border-bottom: 2px solid rgba(0, 171, 223, 1);
        transform: rotate(45deg);
      }
    }
  }
  .price-block {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px 18px;
    margin-bottom: 40px;
    padding: 0;
    justify-content: flex-start;
  }
  .list-block {
    margin-bottom: 12px;
  }
  @media (max-width: 1440px) {
    .modal {
      &__body {
        padding: 42px 14px 14px;
        // grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .business-application-form {
      grid-column: 1 / 2;
    }
    .price-block {
      grid-template-columns: 1fr;
    }
    .img-container {
      // width: 277.12px;
      // height: 255.52px;
    }
    .title-type {
      font-size: 20px;
      margin-bottom: 28px;
    }
  }
}
