mixin Doctor-card(param={})
    button.form-card
        .form-card__img     
            img(src="/assets/img/categories/form-card.png", alt="")
            +icon('education')
            span.expert эксперт
        .form-card__content  
            .form-card__title Ильина Элла Андреевна
            .form-card__experience стаж 24 года
            .form-card__subtitle К.м.н., доцент, профессор РАЕ, врач-пульмонолог высшей категории, аллерголог, терапевт