mixin Collaboration-advantages(param={})
    .collaboration-advantages
        .collaboration-advantages__row
            .collaboration-advantages__col
                //- +icon('advantages-doctor')
                img(src="/assets/img/categories/advantages-doctor.png", alt="")
                span Преимущества для врачей
            ul.collaboration-advantages__col
                li Доступ к 3900 видам исследований, среди которых есть редкие и эксклюзивные тесты.
                li Консультации врачей лабораторной диагностики по выбору исследований, помощь в расшифровке результатов, информационная поддержка по новым анализам.
                li Отчетность, прозрачность, предоставляем бланки.
                li Единая база по всей стране, что особенно удобно для врача, работающего в сфере телемедицины или онлайн.
                li Промокод на скидку для пациентов по направлению от врача-партнера.
                li При достижении категории ВИП – скидка на анализы для врача и его родственников.
        .collaboration-advantages__row
            .collaboration-advantages__col
                //- +icon('advantages-patient')
                img(src="/assets/img/categories/advantages-patient.png", alt="")
                span Преимущества для пациентов
            ul.collaboration-advantages__col
                li Более 600 комфортных медицинских центров по всей стране.
                li Быстрый и точный результат, который можно получить на сайте и по электронной почте.
                li Все результаты анализов хранятся в одном месте, ни одна справка больше не потеряется.
                li Высокий уровень сервиса, комфорт, специальные услуги: дозаказ исследований, выезд на дом, «Спроси врача».