mixin Filter-result(param={})
    li.filter-result__item 
        if(param.btnClose)
            +icon('close')
        a(href="#") г. Москва, Хорошевское шоссе, 90
        .all-blick-data
            ul.metro-block-new
                li 
                    img(src="/assets/img/categories/m.png", alt="")
                    //- +icon('arrow')
                    p Хорошёвская 
                        +icon('man') 
                        span 132 м
                li 
                    img(src="/assets/img/categories/m.png", alt="")
                    p Хорошёвская 
                        +icon('man') 
                        span 132 м
                li 
                    img(src="/assets/img/categories/m.png", alt="")
                    p Хорошёвская 
                        +icon('man') 
                        span 132 м
            div Режим работы:
            ul 
                li 
                    span пн - пт 
                    p 07:00 - 19:00
                li 
                    span сб - вс 
                    p 07:30 - 15:30
        .filter-result__img
            img(src="/assets/img/categories/garant.png", alt="")
            img(src="/assets/img/categories/garant.png", alt="")
            img(src="/assets/img/categories/garant.png", alt="")
            img(src="/assets/img/categories/garant.png", alt="")
        a(href="#").c-btn.c-btn_primary Подробнее 
        a(href="#").c-btn.c-btn_outline Оставить отзыв