mixin Main-analysis-slider(param={})
    .main-analysis-slider
        .a-title=param.sliderTitle 
        +TabsNav({
            items: [
            { label: 'Анализы', targetId: 'tab1' },
            { label: 'Чекапы', targetId: 'tab2' },
            { label: 'Женщинам', targetId: 'tab3' },
            { label: 'Мужчинам', targetId: 'tab4' },
            { label: 'Детям', targetId: 'tab5' },
            ],
            noCar: true,
            noSvg: true,
        })
        a(href="#").a-sale__btn Каталог услуг
            +icon('bottle')
        .tabb#tab1(style="width: 100%; height: max-content; background: tranparent;") 
            .a-sale__cards
                +Slider-navigation()
                .a-sale__slider.a-main__slider
                    .swiper-wrapper 
                        .swiper-slide
                            +Analysis-card({
                                codeSubtitle: 'код: 11-10-001',
                                titleSm: 'Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)',
                                typeSubtitle: 'Биоматериал: венозная кровь',
                                vndSubtitle: 'доступно с выездом на дом',
                                price: '525 ₽',
                            })
                        .swiper-slide
                            +Analysis-card({
                            codeSubtitle: 'код: 23-12-001',
                            titleSm: 'Глюкоза',
                            typeSubtitle: 'Биоматериал: плазма крови',
                            vndSubtitle: 'доступно с выездом на дом',
                            price: '350 ₽',
                        })
                        .swiper-slide
                            +Analysis-card({
                            codeSubtitle: 'код: 23-12-001',
                            titleSm: 'Глюкоза',
                            typeSubtitle: 'Биоматериал: плазма крови',
                            vndSubtitle: 'доступно с выездом на дом',
                            price: '350 ₽',
                        })
                        .swiper-slide
                            +Analysis-card({
                            codeSubtitle: 'код: 23-12-001',
                            titleSm: 'Глюкоза',
                            typeSubtitle: 'Биоматериал: плазма крови',
                            vndSubtitle: 'доступно с выездом на дом',
                            price: '350 ₽',
                        })
        .tabb#tab2(style="width: 100%; height: max-content; background: tranparent; display: none;") slider 2
        .tabb#tab3(style="width: 100%; height: max-content; background: tranparent; display: none;") slider 3
        .tabb#tab4(style="width: 100%; height: max-content; background: tranparent; display: none;") slider 4
        .tabb#tab5(style="width: 100%; height: max-content; background: tranparent; display: none;") slider 5
            