.modal-map {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1360px;
  width: 100%;
  max-height: calc(100% - 40px);
  z-index: 9999;
  overflow: hidden;
  font-family: 'Montserrt', sans-serif;

  &__head {
    position: relative;
    padding: 20px 30px;
    background-color: rgb(0, 171, 223);
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 28px;
    max-width: calc(100% - 32px) !important;
    &-title {
      color: rgba(255, 255, 255, 1);
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -2%;
      text-align: left;
    }
    &-input {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 8px;
      transition: border-color 0.3s, box-shadow 0.3s;
      background-color: #fff;
      width: 100%;
      //   max-width: 678px;
      flex: 1;
      height: 40px;

      input {
        height: 40px;
        width: 100%;
        color: rgba(152, 162, 179, 1);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 180%;
        letter-spacing: 0px;
        text-align: left;
        border: none;
        outline: none;
        width: 100%;

        background: transparent;
        border-radius: 8px;
        padding: 7.5px 7.5px 7px 42px;
      }

      svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
        fill: rgba(208, 213, 221, 1);
      }
    }
    &-filters {
      text-decoration: none;
      background-color: rgb(0, 171, 223);
      border-radius: 8px;
      border: 1px solid #fff;
      cursor: pointer;
      display: flex;
      gap: 35px;
      align-items: center;
      justify-content: center;
      padding: 5px 14px;
      transition: all 0.3s ease;
      height: 40px;
      span {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
      }
      &:hover {
        background-color: rgb(21, 195, 250);
      }
    }
    &-close {
      .btn_square {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
        svg {
          width: 12px;
          height: 12px;
          path {
            stroke: #fff;
          }
        }
      }
    }
    @media (max-width: 1000px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      max-width: 300px;
    }
  }
  &__body {
    background-color: #fff;
    &_content {
      max-height: 616px;
      height: 100%;
      display: grid;
      grid-template-columns: 391px 1fr;
      .main-map {
        padding: 0;
        background-color: #fff;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_filter {
      padding: 16px 24px 8px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-height: max-content;
      .c-btn {
        padding: 10px;
        width: 100%;
        max-width: calc(50% - 4px);
        border-radius: 8px;
        // color:  rgba(255, 255, 255, 1);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -2%;
        text-align: center;
        &_primary {
          font-weight: 600;
        }
        &_outline {
          font-weight: 500;
          border: none;
          background-color: rgba(243, 246, 249, 1);
        }
      }
    }

    .filter-result__item {
      &.accordion__item {
        padding: 20px 30px;
      }
    }
    .filter-result__unavailable.accordion {
    }
  }

  .modal-fixed {
    &__close {
      right: 34px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 768px) {
    &__head {
      padding: 25px 20px 20px;
      background-color: #fff;
      .n-title-md-alt {
        color: rgb(0, 171, 223);
      }
      .modal-map__content-filters,
      .modal-map__content-input {
        display: none;
      }
      .modal-fixed__close {
        svg {
          top: 25px;
          right: 20px;
          path {
            stroke: rgb(178, 186, 198);
          }
        }
      }
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
    }
    &__body {
      padding: 7px 25px 40px;
      .my-modal {
        &__form {
          min-width: 200px;
        }
      }
    }
  }
}
