mixin About-grid(param={})
  .about-grid
    .about-grid__block
      +icon('about-work')
      .about-grid__title 19
      .about-grid__subtitle лет успешной<br>работы
    .about-grid__block
      +icon('about-city')
      .about-grid__title >200
      .about-grid__subtitle городов<br>присутствия
    .about-grid__block
      +icon('about-research')
      .about-grid__title >3900
      .about-grid__subtitle видов<br>исследований
    .about-grid__block
      +icon('about-patient')
      .about-grid__title >8.5 млн
      .about-grid__subtitle пациентов<br>ежегодно
    .about-grid__block
      +icon('about-labs')
      .about-grid__title 14
      .about-grid__subtitle лабораторных<br>комплексов по всей<br>России и за рубежем
    .about-grid__block
      +icon('about-center')
      .about-grid__title >600
      .about-grid__subtitle медицинских<br>центров
    .about-grid__block
      +icon('about-client')
      .about-grid__title >4000
      .about-grid__subtitle корпоративных<br>клиентов
    .about-grid__block
      +icon('about-employee')
      .about-grid__title >2500
      .about-grid__subtitle высоко-квалифицированных<br>сотрудников
