mixin About-grid(param={})
  .about-grid
    .about-grid__block
      +icon('about-work')
      .about-grid__title 19
      .about-grid__subtitle лет успешной работы
    .about-grid__block
      +icon('about-city')
      .about-grid__title >200
      .about-grid__subtitle городов присутствия
    .about-grid__block
      +icon('about-research')
      .about-grid__title >3900
      .about-grid__subtitle видов исследований
    .about-grid__block
      +icon('about-patient')
      .about-grid__title >8.5 млн
      .about-grid__subtitle пациентов ежегодно
    .about-grid__block
      +icon('about-labs')
      .about-grid__title 14
      .about-grid__subtitle лабораторных комплексов по всей России и за рубежем
    .about-grid__block
      +icon('about-center')
      .about-grid__title >600
      .about-grid__subtitle медицинских центров
    .about-grid__block
      +icon('about-client')
      .about-grid__title >4000
      .about-grid__subtitle корпоративных клиентов
    .about-grid__block
      +icon('about-employee')
      .about-grid__title >2500
      .about-grid__subtitle высоко-квалифицированных сотрудников
