mixin Footer-payment(param={})
    .footer__payment
        .footer__payment_title Принимаем к оплате
        .footer__payment_categories
            img(src='/assets/img/categories/n-visa.png' alt='visa')
            //- +Img({
            //-     src: 'n-visa.png',
            //-     alt: 'visa'
            //- })
            img(src='/assets/img/categories/n-mc.png' alt='mc')
            //- +Img({
            //-     src: 'n-mc.png',
            //-     alt: 'mc'
            //- })
            img(src='/assets/img/categories/n-mir.png' alt='mir')
            //- +Img({
            //-     src: 'n-mir.png',
            //-     alt: 'mir'
            //- })
            img(src='/assets/img/categories/n-sbp.png' alt='sbp')
            //- +Img({
            //-     src: 'n-sbp.png',
            //-     alt: 'sbp'
            //- })