.v-show-list {
  .visit-price {
    &__content {
      display: flex;
    }
    &__btn-list {
      svg {
        stroke: #00abdf;
      }
      span {
        color: #00abdf;
      }
    }
  }
}
.v-show-map {
  .visit-price {
    &__map {
      display: block;
      img {
        height: 100%;
      }
    }
    &__btn-map {
      svg {
        fill: #00abdf;
      }
      span {
        color: #00abdf;
      }
    }
  }
}
.visit-price {
  border: 1px solid #b2bac6;
  display: flex;
  max-height: 495px;
  height: 100%;
  overflow: hidden;
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 423px;
    width: 100%;
  }
  &__head {
    padding: 15px 14px 15px 29px;
    background-color: #00b2e3;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    &_title {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.44px;
    }
    &_subtitle {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: -0.28px;
    }
  }
  &__body {
    overflow-y: scroll;
    &_row {
      padding: 20px 26px 22px 29px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      border-bottom: 1px solid #b2bac6;
      > div {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          max-width: 64%;
          width: 100%;
        }
      }
    }
    &_title {
      color: var(--blue-gray, #3b4b64);
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.36px;
    }
    &_subtitle {
      color: var(--gray2, #8e9aab);
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.36px;
    }
    &_cost {
      color: #00abdf;
      text-align: right;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 90.909% */
      letter-spacing: -0.44px;
      display: flex;
      column-gap: 11px;
      max-width: 33%;
      width: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: max-content;
      > div {
        &:nth-child(1) {
          text-decoration: line-through;
          color: var(--gray1, #b2bac6);
          text-align: right;
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 90.909% */
          letter-spacing: -0.44px;
        }
        &:nth-child(2) {
          color: #ea516d;
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: -0.44px;
        }
      }
    }
  }
  &__sale {
    .visit-price__body_cost {
      display: flex;
      flex-direction: column;
      > div {
        &:nth-child(1) {
          border-radius: 20px;
          border: 1px solid #f9ac01;
          background: #f9ac01;
          padding: 6px 12px 4px 4px;
          height: max-content;
          display: flex;
          column-gap: 7px;
          color: #fff;
          text-align: right;
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 90.909% */
          letter-spacing: -0.44px;
          text-decoration: none;
          img {
            height: 24px;
            width: 24px;
          }
        }
        &:nth-child(2) {
          color: #f9ac01;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: -0.28px;
          text-transform: lowercase;
          text-align: center;
        }
      }
    }
  }

  &__map {
    height: 495px;
    width: 100%;
    // max-width: 758px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__footnote {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    margin-top: 25px;
  }
  &__contraindications {
    color: var(--gray1, #b2bac6);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 85.714% */
    letter-spacing: -0.56px;
    text-transform: uppercase;

    margin-bottom: 40px;
  }
  &__footnote-three {
    > div {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  &__footnote-four {
    > div {
      &:not(.visit-price__contraindications) {
        font-size: 18px;
      }
      &:nth-child(3) {
        margin-top: 10px;
      }
    }
  }
  &__btn {
    display: none;
  }
  &__btn {
    display: none;
  }
  &__btn-list {
    align-items: center;
    display: flex;
    width: 50%;
    column-gap: 12px;
    span {
      color: var(--gray2, #8e9aab);
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: 0.5px;
    }
    svg {
      fill: #8e9aab;
      stroke: #8e9aab;
      height: 18px;
      width: 18px;
    }
  }
  &__btn-map {
    align-items: center;
    display: flex;
    width: 50%;
    column-gap: 3px;
    span {
      color: var(--gray2, #8e9aab);
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: 0.5px;
    }
    svg {
      fill: #8e9aab;
      height: 26px;
      width: 26px;
    }
  }
  @media (max-width: 1000px) {
    margin-bottom: 0;
    &__body {
      &_cost {
        flex-direction: column;
        row-gap: 10px;
        max-width: 114px;
        > div {
          &:nth-child(1) {
            column-gap: 4px !important;
          }
        }
      }
      &_row {
        padding: 22px;
        > div {
          &:nth-child(1) {
            max-width: 80%;
          }
        }
      }
    }
    &__head {
      padding: 15px 22px;
    }
    &__content {
      max-width: 100%;
      display: none;
    }
    &__map {
      display: none;
    }
    &__btn {
      display: flex;
      padding: 0 36px 16px;
    }
    &__btn-list:hover {
      cursor: pointer;
      svg {
        stroke: #00abdf;
      }
      span {
        color: #00abdf;
      }
    }
    &__btn-map:hover {
      cursor: pointer;
      svg {
        fill: #00abdf;
      }
      span {
        color: #00abdf;
      }
    }
    &__footnote-three {
      margin-top: 0;
      padding: 20px 38px 0px;

      > div {
        margin-top: 0 !important;
        &:nth-child(2) {
          padding: 20px 0 50px;
        }
        &:nth-child(3) {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.36px;
          padding-top: 50px;
          border-top: 1px solid var(--gray1, #b2bac6);
        }
        &:nth-child(4) {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.36px;
        }
        &:last-child {
          @media (max-width: 700px) {
            padding-bottom: 50px;
          }
        }
      }
      .visit-price {
        &__contraindications {
          display: none;
        }
      }
    }
    &__footnote-four {
      margin-top: 0 !important;
      > div {
        &:nth-child(2) {
          font-size: 14px;
          padding: 20px 0 50px;
          border-bottom: 1px solid rgb(178, 186, 198);
        }
        &:last-child {
          margin-top: 0;
          padding: 50px 0 0;
        }
      }

      .visit-price {
        &__contraindications {
          display: none;
        }
      }
    }
    &__sale {
      .visit-price {
        &__body {
          &_cost {
            flex-direction: column;
            row-gap: 0px;
            align-items: flex-end;
            > div {
              &:nth-child(1) {
                padding: 3px 11px 3px 8px !important;
                column-gap: 4px !important;
                @media (max-width: 768px) {
                  max-width: 114px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &__contraindications {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .visit-price__body_row {
      > div:nth-child(1) {
        max-width: 65%;
      }
    }

    .visit-price__body_cost {
      max-width: 35%;
    }
  }
  @media (max-width: 700px) {
    &__btn {
      padding: 0 22px 16px;
    }
    &__footnote {
      border-bottom: 1px solid var(--gray1, #b2bac6);
      padding: 15px 22px 50px;
    }
    &__footnote-four {
      border-bottom: none !important;
    }
  }
  @media (max-width: 400px) {
    &__head {
      padding: 15px 22px 15px 22px;
    }
    .visit-price__sale .visit-price__body_cost > div:nth-child(1) {
      padding: 3px 3px 3px 3px !important;
      column-gap: 2px !important;
    }
    .visit-price__body_row {
      padding: 15px 22px;
      > div:nth-child(1) {
        max-width: 65%;
        &::before {
          left: 10px;
        }
      }
    }
    .visit-price__body_cost {
      max-width: 35%;
      > div {
        span {
          font-size: 18px;
        }
      }
    }
  }
}
