mixin Visit-price(param={})
  .visit-price__btn
    .visit-price__btn-list(data-show-type='list')
      +icon('icon-list')
      span Списком
    .visit-price__btn-map(data-show-type='map')
      +icon('icon-map')
      span На карте
  
  .visit-price 
    .visit-price__content

      .visit-price__head
        .visit-price__head_title=param.title
        if(param.subtitle)
          .visit-price__head_subtitle=param.subtitle

      .visit-price__body
        .visit-price__body_row
          div
            .visit-price__body_title Москва
            .visit-price__body_subtitle в пределах МКАД
          .visit-price__body_cost 
            div 735 ₽
            div 1₽
        .visit-price__body_row.visit-price__sale
            div
              .visit-price__body_title Москва
              .visit-price__body_subtitle в пределах МКАД
            .visit-price__body_cost 
              div
                img(src="/assets/img/categories/vnd/fire.png", alt="")
                span 1750 ₽
              div День в день ** 
        .visit-price__body_row
          div
            .visit-price__body_title Москва
            .visit-price__body_subtitle в пределах МКАД
          .visit-price__body_cost 
            div 1000 ₽
            div 1000₽
        each el, i in Array(5)
          .visit-price__body_row
            div
              .visit-price__body_title Москва
              .visit-price__body_subtitle в пределах МКАД
            .visit-price__body_cost 735 ₽

    .visit-price__map 
      img(src="/assets/img/categories/vnd/map.png", alt="")

  if(param.footnoteOne)
    .visit-price__footnote
      div * В стоимость выезда терапевта не включена стоимость лабораторных исследований и взятия биоматериала.
  if(param.footnoteTwo)
    .visit-price__footnote
      div * В стоимость выезда медсестры не включена стоимость лабораторных исследований и взятия биоматериала.
      div ** Выезды день в день возможны только по согласованию с оператором службы выезда на дом.
  if(param.footnoteThree)
    .visit-price__footnote.visit-price__footnote-three
      .visit-price__contraindications Имеются противопоказания. Необходима консультация специалиста.
      div * В стоимость выезда терапевта не включена стоимость лабораторных исследований и взятия биоматериала.
      div Вакцинация - самый эффективный способ профилактики гриппа. Сезон ежегодной иммунизации начинается в сентябре. Успейте защитить себя от тяжелых форм болезни, пройдя процедуру вакцинации на дому. 
      div Наши специалисты могут выехать к Вам в офис, если количество вакцинируемых будет не менее 10 человек.
  if(param.footnoteFour)
    .visit-price__footnote.visit-price__footnote-three
      .visit-price__contraindications Имеются противопоказания. Необходима консультация специалиста.
      div * В стоимость услуги не входит цена лекарственного препарата и его введение.
      div Чтобы не записываться в клинику и не ждать в очереди, Вы можете вызвать медицинскую сестру для проведения курса инъекционной терапии.
