.franchise {
  &-reviews {
    padding-top: 138px;
    padding-bottom: 74px;
    .title {
      color: rgba(76, 81, 85, 1);
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-slider {
    overflow: hidden;
    z-index: 2;
    position: relative;
    &-nav {
      position: absolute;
      // top: 50%;
      top: 40%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      z-index: 1;
    }
    &-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-top: 60px;
      span {
        background: rgba(187, 191, 197, 1);
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;
        &.active {
          background: rgba(130, 151, 172, 1);
        }
      }
    }
    &__container {
      padding: 100px;
      position: relative;

      height: 100%;
      .slider-nav {
        &_prev,
        &_next {
          width: 45.25px;
          height: 45.25px;
          box-shadow: 0px 2px 9px 0px rgba(78, 127, 222, 0.2);
          border-radius: 50%;
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: rgba(11, 54, 85, 1);
            width: 18px;
            height: 9px;
            transition: transform 0.3s ease;
          }
          &:hover {
            svg {
              transform: scale(1.05);
            }
          }
        }
        &_prev {
          transform: rotate(180deg);
        }
      }
    }
    .swiper-slide {
      height: auto;
      position: relative;
      padding: 16px 8px 24px 16px;
    }
  }
  @include sm {
    &-reviews {
      padding-top: 15px;
      padding-bottom: 26px;
      .title {
        font-size: 24px;
        line-height: 100%;
      }
    }
    &-slider {
      &-nav {
        display: none;
      }
      &__container {
        padding: 26px 0 0;
      }
      &-pagination {
        gap: 20px;
        margin-top: 26px;
        span {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
.franchise-slide {
  border-radius: 18.1px;
  // box-shadow: 0px 9px 23px 0px rgba(165, 175, 197, 0.24);
  background: rgba(255, 255, 255, 1);
  padding: 31px 31px 23px 31px;
  // max-height: 407px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
    // box-shadow: 0 9px 23px rgba(165, 175, 197, 0.24);
    box-shadow: 0 8px 10px 0px rgba(165, 175, 197, 0.24);
    z-index: -1;
  }
  &__body {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(11, 54, 85, 1) rgba(201, 210, 234, 0.4);
    position: relative;

    .white-shadow-block {
      display: block;
      position: absolute;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0) 100%
      );
      bottom: 0;
      left: 0;
      width: calc(100% - 1px);
      height: 65px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;
      &.active {
        opacity: 1;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    gap: 16px;
  }

  .img-container {
    width: 69.69px;
    height: 69.69px;
    min-width: 69.69px;
    min-height: 69.69px;
    border-radius: 50%;
    overflow: hidden;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }
  .name {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%px;
    letter-spacing: 0%;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .position {
    font-size: 12.67px;
    font-weight: 400;
    line-height: 23.53px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(109, 118, 140, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .company {
    color: rgba(27, 29, 50, 1);
    font-size: 12.67px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .date {
    color: rgba(11, 54, 85, 1);
    font-size: 12.67px;
    font-weight: 400;
    line-height: 23.53px;
    letter-spacing: 0%;
    text-align: right;
    margin-left: auto;
  }
  .text {
    padding-right: 20px;
    padding-bottom: 25px;
    max-height: 236px;
    overflow-y: auto;
  }
  // .text[data-simplebar] {
  //   .simplebar-track {
  //     width: 6px !important; // ширина трека
  //     right: 0 !important; // закрепляем к краю
  //     border-radius: 30px;
  //     background-color: rgba(201, 210, 234, 0.4);
  //   }

  //   .simplebar-scrollbar {
  //     width: 6px !important; // ширина ползунка
  //     background-color: rgba(11, 54, 85, 1) !important;
  //     border-radius: 30px;
  //   }

  //   /* Убираем внутренний псевдоэлемент SimpleBar */
  //   .simplebar-scrollbar::before {
  //     display: none;
  //   }
  // }
}
