mixin Corporate-slider(param={})
    
    .corporate-clientage
        .corporate-clientage__title Наши клиенты
        .corporate-clientage__content
            +Slider-navigation({})
            .corporate-slider 
                .swiper-wrapper 
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/vtb.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/sogaz.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/nefroline.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/rd.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/renessans.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/vtb.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/sogaz.png", alt="")
                    .swiper-slide
                        .corporate-slider__img  
                            img(src="/assets/img/categories/nefroline.png", alt="")
            .corporate-pagination