.corporate-clientage {
  // padding: 32px 72px;
  padding-top: 84px;
  padding-bottom: 64px;
  // position: relative;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    color: rgb(59, 75, 100);
    text-align: center;
    margin-bottom: 32px;
  }
  &__content {
    position: relative;
    padding-left: 72px;
    padding-right: 72px;
    .corporate-pagination {
      justify-content: center;
      margin-top: 32px;
      display: flex;
      .swiper-pagination-bullet-active {
        background: rgb(0, 171, 223);
      }
    }
  }
  .slider-navigation {
    &_prev,
    &_next,
    .swiper-button-disabled {
      background-color: rgb(243, 246, 249) !important;
      border: none !important;
      width: 44px !important;
      height: 44px !important;
      top: 14%;
      svg {
        fill: rgb(142, 154, 171) !important;
        width: 34px !important;
        height: 34px !important;
      }
    }
    &_next {
      transform: rotate(270deg) translateY(-50%);
      right: -25px;
    }
    &_prev {
      transform: rotate(90deg) translateY(-50%) !important;
    }
  }
  .corporate-slider {
    overflow: hidden;
    &__img {
      width: 156px;
      height: auto;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @media (max-width: 1450px) {
    .slider-navigation {
      &_prev,
      &_next {
        display: flex;
      }
      &_next {
        right: 28px;
      }
      &_prev {
        left: 28px;
      }
    }
  }
  @include sm {
    padding-top: 52px;
    padding-bottom: 52px;
    &__title {
      font-size: 28px;
      line-height: 28px;
    }
    .slider-navigation {
      &_prev,
      &_next {
        display: flex;
        width: 34px !important;
        height: 34px !important;
        top: 18%;
      }
      &_next {
        right: 28px;
      }
      &_prev {
        left: 28px;
      }
    }
    &__content {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
  @include xs {
    .slider-navigation {
      &_prev,
      &_next {
        width: 26px !important;
        height: 26px !important;
        top: 23%;
      }
    }
  }
}
