mixin Invite-how-work(param={})
    .invite-accordion__title Как работает программа
    ul.accordion.invite-accordion
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Как работает программа «Приведи друга» в Ситилаб?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p Порекомендуйте любую вакансию в Ситилаб своему другу и получите денежное вознаграждение после прохождения испытательного срока (3 месяца). Для получения гонорара важно, чтобы ваш знакомый не работал в Ситилаб в течение последнего года и не собеседовался с нашими экспертами по подбору персонала за последние 6 месяцев.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Кто может принять участие в акции?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p Граждане РФ старше 18 лет, не работающие на момент акции в Ситилаб.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Сколько кандидатов можно рекомендовать?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p Ограничений по числу кандидатов нет. Вы получите вознаграждение за каждого трудоустроенного знакомого.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Сколько я могу заработать?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    .row 
                        .col 30 000 ₽
                        .col
                            .title Топ-менеджеры: 
                            ul 
                                li Заместители генерального директора УК Ситилаб
                                li Директора регионов
                    .row 
                        .col 150 000 ₽
                        .col
                            .title IT сотрудники:
                            p Все IТ сотрудники (кроме IТ директора и руководителей подразделений)
                    .row 
                        .col 1 000 ₽
                        .col
                            .title Врачи в МЦ: 
                            p Принимающие врачи, в т.ч. врачи выездной бригады: 
                            ul 
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.
                    .row 
                        .col 30 000 ₽
                        .col
                            .title Топ-менеджеры: 
                            ul 
                                li Заместители генерального директора УК Ситилаб
                                li Директора регионов
                    .row 
                        .col 150 000 ₽
                        .col
                            .title IT сотрудники:
                            p Все IТ сотрудники (кроме IТ директора и руководителей подразделений)
                    .row 
                        .col 1 000 ₽
                        .col
                            .title Врачи в МЦ: 
                            p Принимающие врачи, в т.ч. врачи выездной бригады: 
                            ul 
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.
                    .row 
                        .col 30 000 ₽
                        .col
                            .title Топ-менеджеры: 
                            ul 
                                li Заместители генерального директора УК Ситилаб
                                li Директора регионов
                    .row 
                        .col 150 000 ₽
                        .col
                            .title IT сотрудники:
                            p Все IТ сотрудники (кроме IТ директора и руководителей подразделений)
                    .row 
                        .col 1 000 ₽
                        .col
                            .title Врачи в МЦ: 
                            p Принимающие врачи, в т.ч. врачи выездной бригады: 
                            ul 
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.
                                li Акушер-гинекологи, УЗИ, гематологи, кардиологи, терапевты, педиатры и др.

        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Как и когда я получу выплату?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p После оформления договора с вашим другом менеджер по персоналу подписывает служебную записку с информацией о вас и трудоустроенном специалисте и запускает на согласование разовую премию в ПО «Первая форма». Гонорар поступит на ваш счет до 13 числа месяца, следующего за трудоустройством и затем прохождением испытательного срока.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Что, если одного и того же кандидата порекомендовали сразу несколько человек?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p Вознаграждение получает тот, кто пригласил своего друга первым.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Какие вакансии участвуют в программе?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p В программе участвуют все вакансии без ограничений. Со списком вакансий можете ознакомиться 
                        a(href="#") здесь.
        li.accordion__item
            .accordion__head
                .accordion__head-content
                    .accordion__head-text Остались еще вопросы?
                        //- .accordion__head-label label
                .accordion__icon
                    +icon('accordion')
            .accordion__body
                .accordion__body-content 
                    p Пожалуйста, напишите нам на почту 
                        a(href="#") hr@citilab.ru