.visit-schedule {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray1, #b2bac6);

  padding-left: 76px;
  padding-right: 76px;
  > div {
    display: flex;
    // padding: 26px 76px 28px 76px;

    padding-top: 26px;
    padding-bottom: 28px;
    &:nth-child(2) {
      border-top: 1px solid #b2bac6;
    }
  }
  svg {
    width: 50px;
    height: 50px;
    fill: #00abdf;

    stroke-width: 1px;
    // stroke: #00abdf;
  }
  &__title {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.44px;
    margin-left: 30px;
    max-width: 254px;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 151px;
  }
  &__subtitle {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    // margin-left: 24px;
    max-width: 352px;
    width: 100%;
  }
  &__time {
    border-radius: 30px;
    background-color: #f4fbeb;
    padding: 6px 21px;
    width: max-content;
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    position: relative;
    left: -21px;
  }
  @media (max-width: 1000px) {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    > div {
      flex-direction: column;
      padding-top: 25px;
      padding-bottom: 25px;
      svg {
        display: none;
      }
    }
    &__content {
      margin-left: 0;
    }
    &__title {
      margin-left: 0;
      max-width: 100%;
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
    }
    &__subtitle {
      margin-left: 0;
      max-width: 100%;
      font-size: 14px;
      letter-spacing: -0.28px;
    }
    &__time {
      font-size: 14px;
      line-height: 24px; /* 171.429% */
      letter-spacing: -0.28px;
      padding: 2px 16px;
      display: inline;
      position: initial;
    }
  }
}
