.cart-page {
  .promo-code {
    margin: 16px 0;
    &__title {
      color: rgba(52, 64, 84, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      width: 100%;
      margin-bottom: 6px;
    }
    &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }
    &__field {
      position: relative;
      width: 100%;
      max-width: calc(50% - 3px);
    }
    &__input {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      border: 1px solid rgba(208, 213, 221, 1);
      border-radius: 8px;
      color: rgba(102, 112, 133, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 8px 12px;
      outline: none;
      // padding-right: 28px;

      &:focus {
        // background: #fff;
        // color: #000;
        box-shadow: 0 0 0 0.2px rgba(0, 0, 0, 0.15);
      }
    }
    &__clear {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      font-size: 18px;
      line-height: 1;
      color: #98a2b3;

      display: none;
    }

    &__clear--visible {
      display: block;
    }
    &__btn {
      width: 100%;
      max-width: calc(50% - 3px);
      border-radius: 8px;
      background-color: rgba(240, 249, 255, 1);
      border: 1px solid rgba(240, 249, 255, 1);
      padding: 8px 12px;
      transition: all 0.3s ease;
      span {
        font-family: 'Montserrat', sans-serif;
        color: rgba(0, 171, 223, 1);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
      }
      &:hover {
        background-color: rgba(240, 249, 255, 0.6);
      }
    }
    &__error {
      .promo-code {
        &__input {
          border-color: rgba(240, 68, 56, 1);
        }
        &__error-text {
          display: block;
          margin-top: 6px;
        }
      }
      &-text {
        display: none;
        color: rgba(240, 68, 56, 1);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    @include sm {
      .promo-code__row {
        flex-direction: column;
      }
      .promo-code__field,
      .promo-code__btn {
        max-width: 100%;
      }
    }
  }
}
