mixin Ask-popular(param={})
    .ask-popular
        .ask-popular__title Популярные вопросы
        .ask-popular__subtitle Здесь будут отображаться вопросы и ответы
        +Popular-card({
            name: 'Ваше имя',
            question: 'Здравствуйте! Ваш вопрос?',
            doctor: 'Элла Андреевна Ильина',
            text: 'Ответ врача: Здравстуйте! '
        })
        +Popular-card({
            name: 'Loremipsumdolorsit Ametconsecteturadipisicing Elitimpedittempora',
            question: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi rerum alias quia dolor autem quo id laborum repellat, reprehenderit sequi tempore, possimus ratione qui magnam vitae aspernatur illum. Consectetur inventore accusamus, porro voluptatum recusandae asperiores ipsa rem esse minima!',
            text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique cum consequuntur eos? Ratione nulla sunt totam tenetur non, temporibus sapiente quae quidem asperiores quis culpa deleniti, delectus officia, illo veritatis dicta voluptatibus accusamus explicabo pariatur quia nihil quasi. Non fugit ut magnam natus maiores harum quod pariatur debitis. Deleniti, a sed at repudiandae vero temporibus expedita repellat harum fugit fuga? Harum quisquam magnam corporis nulla officiis, quaerat, illo iste natus animi recusandae quam ea id autem illum consequuntur debitis. Perferendis harum magnam, tempora labore aliquam dignissimos officia culpa saepe numquam ad deserunt vitae reprehenderit esse amet error ipsa obcaecati! Minima.',
            doctor: 'Loremipsumdolorsit Ametconsecteturadipisicing Elitimpedittempora'
        })
        
        