.medical-center__legal-info {
  background-color: rgba(249, 250, 251, 1);
  padding: 60px 0;
  .legal-info {
    &__title {
      color: rgba(59, 75, 100, 1);
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: -2%;
      text-align: left;
      margin-bottom: 38px;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__col {
      width: 100%;
      display: flex;
      &_left {
        flex-direction: column;
        gap: 20px;
      }
      &_right {
        gap: 28px;
      }
      .img-container {
        max-width: 152px;
        width: 100%;
      }
    }
    &__item {
      &_title,
      &_subtitle {
        color: rgba(59, 75, 100, 1);
        font-size: 18px;

        line-height: 28px;
        letter-spacing: -2%;
        text-align: left;
      }
      &_title {
        font-weight: 700;
      }
      &_subtitle {
        font-weight: 500;
      }
      &_img {
        display: flex;
      }
    }
  }
  @media (max-width: 1000px) {
    padding: 30px 0;
    .legal-info {
      &__items {
        grid-template-columns: repeat(1, 1fr);
      }
      &__col {
        &_right {
          flex-direction: column;
        }
      }
    }
  }
}
