mixin Collaboration-banner(param={})
    .collaboration-banner
        .collaboration-banner__title Сотрудничество и партнерские программы
        .collaboration-banner__subtitle Станьте партнером международной сети лабораторий СИТИЛАБ и получите доступ ко всем видам исследований, экспертную поддержку в области лабораторной диагностики и специальные условия для проведения анализов. Делегируйте лабораторную диагностику и будьте уверены в качестве и точности результатов.
        .collaboration-banner__btn 
            a(href="#") Оставить заявку
        .collaboration-banner__img
            img(src="/assets/img/categories/collab-banner.png", alt="")