.table-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.table-grid .col {
  position: relative;
}

.table-grid .col::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid red;
  pointer-events: none;
}
