mixin Medical-center-schedule(param={})
    div
        .table-grid
            .header
                .cell Имя
                .cell.col Возраст
                .cell Город
            .row
                .cell Иван
                .cell.col 25
                .cell Москва
            .row
                .cell Мария
                .cell.col 30
                .cell Сочи