.table-grid {
  display: grid;
  grid-auto-flow: column; 
  grid-auto-columns: 1fr; 
  gap: 12px;
  overflow: auto;
  padding: 60px 0 30px;
  .cell:not(.table-grid__title) {
    color: rgba(59, 75, 100, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -2%;
    text-align: left;
  }
  &__title{
    color: rgba(59, 75, 100, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -2%;
    text-align: left;
  }
  &__col-info{
     min-width: 360px;
     width: 100%;
  }
  &__col:not(.table-grid__col-info, .active) {
    min-width: 130px;
    .cell {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      span:not(.today){
        border-radius: 8px;
        background:  rgba(243, 246, 249, 1);
        padding: 5px;
        width: 100%;
        text-align: center;
      }
    }
  }
  &__col{
    .cell:not(:last-child, :first-child) {
      margin-bottom: 28px;
    }
    .cell:first-child {
      margin-bottom: 10px;
    }
    .today{
      color: rgba(0, 171, 223, 1);
    }
    &:not(.active) {

    }
  }
  a{
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    &:hover{
      color: rgb(21, 195, 250);
    }
  }
  @media(max-width: 1000px) {
    padding: 30px 0 15px;
  }
}

.table-grid__col {
  position: relative;
}

.table-grid__col.active {
  outline: 2px solid rgba(0, 171, 223, 1); 
  outline-offset: -2px; 
  border-radius: 12px;
  min-width: 140px;
  .cell {
     display: flex;
      justify-content: center;
      align-items: flex-start;
    span:not(.today){
      border-radius: 8px;
      background:  rgba(230, 248, 253);
      padding: 5px;
      width: calc(100% - 12px); 
      text-align: center;
    }
  }
}
