mixin Visit-promo(param = {})
  .visit-promo
    .visit-promo__img
      img(src=`/assets/img/categories/vnd/promo${param.id}.png`, alt="")
    .visit-promo__content
      if(param.formViewType === 'success')
        .visit-promo__success
          .visit-promo__success_check 
            +icon('success-check')
          .visit-promo__success_title Спасибо! Ваша заявка принята.
          .visit-promo__success_subtitle Выбранная услуга требует подтверждения заявки оператором для согласования времени приезда бригады.<br>Пожалуйста, ожидайте звонка.
          a(href="#").visit-promo__btn_success Вернуться к форме 
      else
        form.form
          .visit-promo__title Закажите по телефону:
          .visit-promo__phone 8 (495) 147-01-71
          .visit-promo__title-sm или заполните форму заявки:
          +Input({
            text: true,
            placeholder: 'ФИО *',
          })
          div.visit-promo__group
            +Input({
              text: true,
              placeholder: '+7 (___) ___-__-__ *',
            })
            +Input({
              text: true,
              placeholder: 'Адрес выезда *',
            })
            +Input({
              text: true,
              placeholder: 'E-mail *',
            })
            +Input({
              textarea: true,
              placeholder: 'Комментарий',
            })
          if(param.formViewType !== 'document')
            .visit-promo__description * Поля, обязательные для заполнения
            .visit-promo__agree
              +Checkbox({
                text: 'Я согласен на обработку',
              })
              a(href="#") персональных данных
          else 
            .visit-promo__document
              .visit-promo__col
                .visit-promo__description * Поля, обязательные для заполнения
                .visit-promo__agree
                  +Checkbox({
                    text: 'Я согласен на обработку',
                  })
                  a(href="#") персональных данных
              .visit-promo__col
                +icon('file-plus')
                div
                  a(href="#") Прикрепить направление
                  span  или
                  a(href="#") Получить направление у нашего терапевта
          .visit-promo__captcha
            input(type="text" value="Отправить").visit-promo__captcha_btn
            .visit-promo__confirm
              p Введите символы с картинки:
              div
                div
                  img(src="/assets/img/categories/vnd/new-captcha.jpg" alt="")
                  //- img(src="/assets/img/categories/vnd/captcha.png", alt="")


                +Input({
                  text: true,
                  inputClass: param.id === 7 && 'visit-promo__confirm_input'
                })
          .visit-promo__license Лицензия №Л041-01137-77/00349073 от 03.06.2019г.

each i in [1,2,3,4,5,6,7]
  .tabb(
      style=`width: 100%; height: max-content; background: none; ${i !== 1 && 'display: none;'}`
      data-tab-id=`tab${i}`
    )
    +Visit-promo({
      id: i,
      formViewType: i === 7 && 'document' || i === 2 && 'success',
    })
