mixin Visit-promo(param = {})
  .tabb(
      style=`width: 100%; height: max-content; background: none; ${param.id !== 1 && 'display: none;'}`
      data-tab-id=`tab${param.id}`
    )
    .visit-promo
      .visit-promo__img
        img(src=`/assets/img/categories/vnd/promo${param.id}.png`, alt="")
      .visit-promo__content
        form.form
          .visit-promo__title Закажите по телефону:
          .visit-promo__phone 8 (495) 147-01-71
          .visit-promo__title-sm или заполните форму заявки:
          +Input({
            text: true,
            placeholder: 'ФИО *',
          })
          div.visit-promo__group
            +Input({
              text: true,
              placeholder: '+7 (___) ___-__-__ *',
            })
            +Input({
              text: true,
              placeholder: 'Адрес выезда *',
            })
            +Input({
              text: true,
              placeholder: 'E-mail *',
            })
            +Input({
              textarea: true,
              placeholder: 'Комментарий',
            })
          .visit-promo__description * Поля, обязательные для заполнения
          .visit-promo__agree
            +Checkbox({
              text: 'Я согласен на обработку',
            })
            a(href="#") персональных данных
          .visit-promo__captcha
            input(type="text" value="Отправить").visit-promo__captcha_btn
            .visit-promo__confirm
              p Введите символы с картинки:
              div
                div
                  img(src="/assets/img/categories/vnd/captcha.png", alt="")
                +Input({
                  text: true,
                  inputClass: 'visit-promo__confirm_input'
                })
          .visit-promo__license Лицензия №Л041-01137-77/00349073 от 03.06.2019г.

each i in [1,2,3,4,5,6]
  +Visit-promo({id: i})

.tabb(style="width: 100%; height: max-content; display: none; background: none;" data-tab-id='tab7')
  .visit-promo
    .visit-promo__img
      img(src="/assets/img/categories/vnd/promo7.png", alt="")
    .visit-promo__content
        form.form
          .visit-promo__title Закажите по телефону:
          .visit-promo__phone 8 (495) 147-01-71
          .visit-promo__title-sm или заполните форму заявки:
          +Input({
            text: true,
            placeholder: 'ФИО *',
          })
          div.visit-promo__group
            +Input({
              text: true,
              placeholder: '+7 (___) ___-__-__ *',
            })
            +Input({
              text: true,
              placeholder: 'Адрес выезда *',
            })
            +Input({
              text: true,
              placeholder: 'E-mail *',
            })
            +Input({
              textarea: true,
              placeholder: 'Комментарий',
            })

          .visit-promo__document
            .visit-promo__col
              .visit-promo__description * Поля, обязательные для заполнения
              .visit-promo__agree
                +Checkbox({
                  text: 'Я согласен на обработку',
                })
                a(href="#") персональных данных
            .visit-promo__col
              +icon('file-plus')
              div
                a(href="#") Прикрепить направление
                span  или
                a(href="#") Получить направление у нашего терапевта

          .visit-promo__captcha
            input(type="text" value="Отправить").visit-promo__captcha_btn
            .visit-promo__confirm
              p Введите символы с картинки:
              div
                div
                  img(src="/assets/img/categories/vnd/captcha.png", alt="")
                +Input({
                  text: true,
                })
          .visit-promo__license Лицензия №Л041-01137-77/00349073 от 03.06.2019г.
//
