mixin Slider-nav(param={})
    .slider-nav(class=param.addNavClass)
        button(type='button').slider-nav_prev
            +icon('arrow-down')
        button(type='button').slider-nav_next
            +icon('arrow-down')