mixin Main-banner(param={})
    .main-banner
        .main-banner__slider
            .swiper-wrapper 
                .swiper-slide
                    .container
                        .main-banner__content
                            .main-banner__title Выезд на дом 
                                span за 1 рубль
                            .main-banner__subtitle Сдавайте анализы, не выходя из дома
                            .main-banner__btn 
                                a(href="#") Подробнее
                        .main-banner__img
                            img(src="/assets/img/categories/main-banner.png", alt="")
                .swiper-slide
                    .container
                        .main-banner__content
                            .main-banner__title Выезд на дом за 1 рубль
                            .main-banner__subtitle Сдавайте анализы, не выходя из дома
                            .main-banner__btn 
                                a(href="#") Подробнее
                        .main-banner__img
                            img(src="/assets/img/categories/main-banner.png", alt="")
            .pagination-wrapper
                .main-banner-pagination