mixin Visit-documents(param={})
  .visit-documents
    .visit-documents__title Медицинские документы
    if(param.documentsTherapist)
      ul 
        li 
          div 1. Электронный листок нетрудоспособности (больничный лист)
          p Во время визита на дом врач проводит экспертизу временной нетрудоспособности, при наличии показаний пациенту оформляется электронный листок нетрудоспособности по болезни либо по уходу за больным членом семьи.
        li 
          div 2. Направление
          p Врач может оформить направление на экстренную госпитализацию, а также на консультацию профильного специалиста по форме 057/у.
        li 
          div 3. Рецептурный бланк
          p При назначении определенных групп лекарственных препаратов врач выдает рецептурный бланк по форме 107/у (кроме льготных препаратов).
        li 
          div 4. Выписка из амбулаторной карты
          p При необходимости доктор может оформить выписку из амбулаторной карты, заверенную печатью организации и подписью главного врача.
        li 
          div 5. Справка для авиакомпаний
          p Если из-за болезни пришлось пропустить авиаперелет, оформим справку для авиакомпании, подтверждающую болезнь.

    if(param.documentsPediatrician)
      ul 
        li 
          div 1. Электронный листок нетрудоспособности (больничный лист)
          p Во время визита на дом врач проводит экспертизу временной нетрудоспособности, при наличии показаний пациенту оформляется электронный листок нетрудоспособности по болезни либо по уходу за больным членом семьи.
        li 
          div 2. Направление
          p Врач может оформить направление на экстренную госпитализацию, а также на консультацию профильного специалиста по форме 057/у.
        li 
          div 3. Рецептурный бланк
          p При назначении определенных групп лекарственных препаратов врач выдает рецептурный бланк по форме 107/у (кроме льготных препаратов).
        li 
          div 4. Выписка из амбулаторной карты
          p При необходимости доктор может оформить выписку из амбулаторной карты, заверенную печатью организации и подписью главного врача.
        li 
          div 5. Справка для авиакомпаний
          p Если из-за болезни пришлось пропустить авиаперелет, оформим справку для авиакомпании, подтверждающую болезнь.
        li 
          div 6. Справка о болезни ребенка
          p После выздоровления ребенка выдается справка для детского сада или школы, разрешающая посещение занятий. 
          p <b>Для оформления справок №086/у и 026/у требуется выписка из амбулаторной карты.</b>

