.medical-center__slider {
  &-container {
    background-color: rgba(243, 246, 249, 1);
    padding: 50px 90px 60px;
  }
  &-head {
    position: relative;
    a {
      transition: all 0.3s ease;
      &:hover {
        color: rgb(21, 195, 250);
      }
    }
  }
  &_title {
    color: rgba(59, 75, 100, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
  }
  &_subtitle {
    color: rgba(0, 171, 223, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
  }
  &_navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    .slider-navigation {
      &_prev,
      &_next {
        position: initial;
      }
    }
  }
}
