mixin Medical-center-slider-template(param={})
    div.medical-center__slider-container
        .medical-center__slider-head
            .medical-center__slider_title=param.title
            a(href='#').medical-center__slider_subtitle.text-blue=param.subtitle
            if(param.note)
                +Note({
                    text: 'Проверенные врачи высокой квалификации',
                    stars: true
                })
            if(param.reviews)
                .medical-center__slider-reviews_navigation
                    +Slider-navigation({})
            if(param.doctors)
                .medical-center__slider-doctors_navigation
                    +Slider-navigation({})
        if(param.reviews)
            .medical-center__slider.medical-center__slider-reviews
                .swiper-wrapper 
                    .swiper-slide
                        +Medical-center-slide-review({
                            username: 'Инна Свечникова',
                            text: 'В Ситилаб возле метро Полежаевская я впервые зашла случайно – нужно было сдать кровь на глюкозу и несколько других тестов. Работой этой лаборатории я осталась очень довольна и уже могу назвать себя постоянным клиентом. Теперь знаю, что можно заранее записаться на сайте, а потом там же скачать готовые результаты. Вообще вся работа в Ситилабе организована таким образом, чтобы было удобно в первую очередь посетителям. Для меня, как для человека с хроническими заболеваниями, еще очень важно, что все анализы, даже достаточно редкие, делают в одном месте. Спасибо коллективу лаборатории за внимательное отношение и хорошую работу, вы молодцы!',
                            img: 'user'
                        })
                    .swiper-slide
                        +Medical-center-slide-review({
                            username: 'Инна Свечникова',
                            text: 'В Ситилаб возле метро Полежаевская я впервые зашла случайно – нужно было сдать кровь на глюкозу и несколько других тестов. Работой этой лаборатории я осталась очень довольна и уже могу назвать себя постоянным клиентом. Теперь знаю, что можно заранее записаться на сайте, а потом там же скачать готовые результаты. Вообще вся работа в Ситилабе организована таким образом, чтобы было удобно в первую очередь посетителям. Для меня, как для человека с хроническими заболеваниями, еще очень важно, что все анализы, даже достаточно редкие, делают в одном месте. Спасибо коллективу лаборатории за внимательное отношение и хорошую работу, вы молодцы!',
                            img: 'medicine-center-slider-1'
                        })
                    .swiper-slide
                        +Medical-center-slide-review({
                            username: 'Инна Свечникова',
                            text: 'В Ситилаб возле метро Полежаевская я впервые зашла случайно – нужно было сдать кровь на глюкозу и несколько других тестов. Работой этой лаборатории я осталась очень довольна и уже могу назвать себя постоянным клиентом. Теперь знаю, что можно заранее записаться на сайте, а потом там же скачать готовые результаты. Вообще вся работа в Ситилабе организована таким образом, чтобы было удобно в первую очередь посетителям. Для меня, как для человека с хроническими заболеваниями, еще очень важно, что все анализы, даже достаточно редкие, делают в одном месте. Спасибо коллективу лаборатории за внимательное отношение и хорошую работу, вы молодцы!',
                            img: 'center-doctor'
                        })
                    .swiper-slide
                        +Medical-center-slide-review({
                            username: 'Инна Свечникова',
                            text: 'В Ситилаб возле метро Полежаевская я впервые зашла случайно – нужно было сдать кровь на глюкозу и несколько других тестов. Работой этой лаборатории я осталась очень довольна и уже могу назвать себя постоянным клиентом. Теперь знаю, что можно заранее записаться на сайте, а потом там же скачать готовые результаты. Вообще вся работа в Ситилабе организована таким образом, чтобы было удобно в первую очередь посетителям. Для меня, как для человека с хроническими заболеваниями, еще очень важно, что все анализы, даже достаточно редкие, делают в одном месте. Спасибо коллективу лаборатории за внимательное отношение и хорошую работу, вы молодцы!',
                            img: 'medicine-center-slider-2'
                        })
        if(param.doctors)
            .medical-center__slider.medical-center__slider-doctors
                .swiper-wrapper 
                    .swiper-slide
                        +Medical-center-slide-doctors({
                            name: 'Мамедова Айбениз Захировна',
                            experience: 'стаж 5 лет',
                            position: 'Врач акушер-гинеколог, Врач ультразвуковой диагностики',
                            img: 'center-doctor',
                            text: '1'
                        })
                    .swiper-slide
                        +Medical-center-slide-doctors({
                            name: 'Мамедова Айбениз Захировна',
                            experience: 'стаж 5 лет',
                            position: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus rerum cupiditate porro fugiat possimus officia ut sit nam quam!',
                            img: 'test-vertical',
                            text: 'Lorem ipsum dolor sit amet consectetur'
                        })
                    .swiper-slide
                        +Medical-center-slide-doctors({
                            name: 'Мамедова Айбениз Захировна',
                            experience: 'стаж 5 лет',
                            position: 'Врач',
                            img: 'test-horizontal',
                            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus rerum cupiditate porro fugiat possimus officia ut sit nam quam!'
                        })
                    .swiper-slide
                        +Medical-center-slide-doctors({
                            name: 'Мамедова Айбениз Захировна',
                            experience: 'стаж 5 лет',
                            position: 'Врач акушер-гинеколог, Врач ультразвуковой диагностики, Врач акушер-гинеколог, Врач ультразвуковой диагностики',
                            img: 'medicine-center-slider-1',
                            text: 'Lorem ipsum dolor'
                        })
                    .swiper-slide
                        +Medical-center-slide-doctors({
                            name: 'Мамедова Айбениз Захировна',
                            experience: 'стаж 5 лет',
                            position: 'Врач акушер-гинеколог',
                            img: 'medicine-center-slider-2',
                            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus rerum cupiditate porro fugiat possimus officia ut sit nam quam!'
                        })