mixin Visit-result(param={})
  .visit-result
    if(param.title)
      .visit-result__title=param.title

    if(param.noTitle)
      .visit-result__content
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/time.png", alt="")
          .visit-result__description Выполняем взятие биоматериала быстро и аккуратно        
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/document.png", alt="")
          .visit-result__description Делаем бесплатную расшифровку        
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/box.png", alt="")
          .visit-result__description Соблюдаем требования хранения и перевозки биоматериала        
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/smile.png", alt="")
          .visit-result__description Работаем с пациентами любого возраста        
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/protect.png", alt="")
          .visit-result__description Гарантируем точность результатов      
    else 
      .visit-result__content-analysis
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/email.png", alt="")
          .visit-result__description 
            .visit-result__description_title E-mail
            .visit-result__description_subtitle Сообщите адрес электронной почты менеджеру или укажите его в форме заказа. Результаты лабораторных тестов будут отправлены сразу после выполнения.       
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/desktop.png", alt="")
          .visit-result__description 
            .visit-result__description_title Личный кабинет
            .visit-result__description_subtitle 
              span Бланк с результатами будет сохранен в вашем личном кабинете. 
              span При необходимости его можно распечатать.     
        .visit-result__col
          .visit-result__img
            img(src="/assets/img/categories/vnd/map-sign.png", alt="")
          .visit-result__description_title В офисе или курьером
          .visit-result__description_subtitle Распечатанный бланк с результатами лабораторных исследований можно получить в медицинском центре, в котором вы сдавали анализы, или заказать его доставку курьером по указанному адресу.       
    