.visit-result {
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  &__col {
    width: 180px;
    position: relative;
    &:nth-child(2) {
      .visit-result {
        &__img {
          // width: 97px;
          width: 128px;
          @media (max-width: 700px) {
            // width: 100px;
            width: 120px;
            height: 72px;
          }
          @media (max-width: 400px) {
            width: 100px;
          }
        }
      }
    }
    &:nth-child(3) {
      .visit-result {
        &__img {
          width: 130px;
          // width: 96px;
          @media (max-width: 700px) {
            // width: 95px;
            width: 115px;
          }
          @media (max-width: 400px) {
            width: 95px;
          }
        }
      }
    }
    &:nth-child(4) {
      .visit-result {
        &__img {
          width: 170px;
          img {
            max-width: 150px;
          }
          @media (max-width: 700px) {
            // width: 133px;
            width: 154px;
          }
          @media (max-width: 400px) {
            width: 136px;
          }
        }
      }
    }
    &:nth-child(5) {
      .visit-result {
        &__img {
          // width: 83px;
          width: 116px;
          height: 70px;
          @media (max-width: 700px) {
            // width: 83px;
            width: 105px;
            height: 62px;
          }
          @media (max-width: 400px) {
            width: 83px;
          }
          img {
            height: 100%;
          }
        }
      }
    }
  }
  &__description {
    max-width: 180px;
    width: 100%;
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    padding-top: 84px;
  }
  &__img {
    height: 74px;
    padding-left: 22px;

    position: absolute;
    left: -28px;
    width: 130px;
    @media (max-width: 700px) {
      height: 65px;
      // width: 100px;
      width: 120px;
    }
    img {
      max-height: 74px;
      max-width: 128px;
      width: auto;
    }
  }
  &__title {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 100% */
    letter-spacing: -0.56px;
    margin-bottom: 40px;
  }
  @media (max-width: 835px) {
    &__content {
      justify-content: flex-start;
    }
    &__col {
      width: 33.3%;
    }
  }
  @media (max-width: 700px) {
    // padding: 50px 37px 50px 38px; !!!!!!!!!!!!!!!!!!!!!!111
    padding: 50px 22px;
    &__title {
      font-size: 22px;
      line-height: 28px; /* 127.273% */
      letter-spacing: -0.44px;
    }
    &__content {
      flex-direction: column;
      row-gap: 21px;
    }
    &__col {
      display: flex;
      width: 100%;
      height: 77px;
    }
    &__description {
      max-width: 100%;
      padding-top: 0;
      padding-left: 121px;
    }
  }

  &__content-analysis {
    display: flex;
    column-gap: 52px;
    .visit-result {
      &__col {
        width: 33.3%;
      }
      &__img {
        position: initial;
        display: flex;
        align-items: center;
        padding-left: 22px;
        picture {
          position: relative;
        }
        &::before {
          content: ' ';
          width: 65px;
          height: 65px;
          background-color: #e6f8fd;
          border-radius: 100%;
          display: block;
          position: absolute;
          // left: -28px;
          left: -12px;
        }
      }
      &__description {
        width: 100%;
        max-width: max-content;
        padding-top: 0;
        &_title {
          color: var(--blue-gray, #3b4b64);
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.36px;
          margin-bottom: 19px;
        }
        &_subtitle {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          color: var(--blue-gray, #3b4b64);
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.36px;
        }
      }
    }
    @media (max-width: 700px) {
      flex-direction: column;
      row-gap: 30px;
      .visit-result {
        &__col {
          width: 100%;
          flex-direction: column;
          height: max-content;
        }
        &__description {
          padding-left: 0;
          &_title {
            margin-top: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    &__description {
      padding-left: 0;
    }
    &__img {
      width: 100px;
    }
    &__col {
      flex-direction: column;
      height: auto;
      row-gap: 10px;
    }
    &__img {
      position: initial;
      padding-left: 0;
    }
  }
}
