mixin Ask-form(param={})
    .ask-form
        .ask-form__content
            .ask-form__title Задать вопрос
            form.form(action="")
                .form-group
                    +Input({placeholder: 'Имя'})
                .form-group
                    p По номеру телефона будет осуществляться звонок Врача-консультанта
                    +Input({placeholder: '+7 (___) ___-__-__', mask: 'phone'})
                .form-group
                    +Input({placeholder: 'E-mail', type: email})
                .form-group 
                    p Напишите ваш вопрос
                    +Input({type: 'textarea', placeholder: 'до 500 символов'})
                .form-group.v-checkboxes 
                    +Checkbox({text: 'Скрыть мое имя'})
                    +Checkbox({text: 'Даю согласие на обработку персональных данных', checked: true})
                .form-group
                    button.form-group__btn Спросить
        .ask-form__success
            +icon('success')
            .ask-form__success_title Ваш вопрос отправлен нашему эксперту
            .ask-form__success_subtitle Ответ придёт на электронную почту и будет опубликован на сайте в разделе “Популярные вопросы”
            button.form-group__btn Задать новый вопрос