mixin Choose-time(param={})
    .form-time
        .form-time__title Время звонка:
        .form-time__cells 
            +RadioBtn({name: 'call-time', value: 'Имя', text: '08:00 - 12:00'})
            +RadioBtn({name: 'call-time', value: 'Имя', text: '12:00 - 16:00'})
            +RadioBtn({name: 'call-time', value: 'Имя', text: '16:00 - 20:00'})