mixin Doctor-form(param={})
    .ask-form
        .ask-form__img
            img(src="/assets/img/categories/ask-doctor.png", alt="Спроси доктора")
        .ask-form__content
            .ask-form__title.ask-form__notice Как воспользоваться услугой?
            form.form(action="")
                .form__choose-category
                    +RadioBtn({name: 'test', value: 'Имя', text: 'Я пациент', checked: true})
                    +RadioBtn({name: 'test', value: 'Имя', text: 'Я врач'})
                .form-group 
                    p Выбери услугу:
                    +Checkbox({text: 'Расшифровка результатов Ситилаб'})
                    +Checkbox({text: 'Расшифровка результатов другой лаборатории'})
                    +Checkbox({text: 'Задать вопрос врачу - я пациент'})
                    +Checkbox({text: 'Консультация эксперта на сайте'})
                .form__price 
                    .form__price_title Стоимость услуги:
                    if(param.free)
                        .form__price_cost.cost-green Бесплатно
                .form-group
                    button.form-group__btn Получить услугу

        .ask-form__content
            .ask-form__title-sm Расшифровка результатов Ситилаб
            form.form(action="")
                +Input-data()
                +Choose-time()
                .form-required * Поля, обязательные для заполнения
                button.form-group__btn Отправить
            .form-agreement Нажимая на кнопку, вы даёте согласие на обработку персональных данных и принимаете пользовательское соглашение
            button.ask-form__btn-back     
                +icon('back')

        .ask-form__success
            +icon('success')
            .ask-form__success_title Ваша заявка оформлена успешно
            .ask-form__success_time
                p Время звонка:
                    span 08:00 - 12:00
            .ask-form__success_subtitle Заявка будет обработана в течение 24 часов с момента поступления заявки к врачу-консультанту.
            button.form-group__btn Вернуться к выбору услуг

        .ask-form__content
            .ask-form__title-sm Расшифровка результатов другой лаборатории
            form.form(action="")
                +Input-data()
                +Choose-time()
                .form-required * Поля, обязательные для заполнения
                .form__price 
                    .form__price_title Стоимость услуги:
                    if(param.free)
                        .form__price_cost.cost-blue 50 руб
                button.form-group__btn Перейти к оплате
            .form-agreement Нажимая на кнопку, вы даёте согласие на обработку персональных данных и принимаете пользовательское соглашение
            button.ask-form__btn-back     
                +icon('back')

        .ask-form__success
            +icon('success')
            .ask-form__success_title Оплата прошла успешно
            .ask-form__success_order Номер заказа: 
                span №123456
            .ask-form__success_time
                p Время звонка:
                    span 08:00 - 12:00
            .ask-form__success_subtitle Заявка будет обработана в течение 24 часов с момента поступления заявки к врачу-консультанту.
            .form__price 
                    .form__price_title Чек об оплате
                    if(param.free)
                        .form__price_cost.cost-gray Открыть
            button.form-group__btn Вернуться к выбору услуг

        .ask-form__content
            .ask-form__title-sm Консультация эксперта
            form.form(action="")
                .form-group
                    +Input({placeholder: 'Имя'})
                    +Input({placeholder: '+7 (___) ___-__-__ *'})
                    +Input({placeholder: 'E-mail *'})
                    p.form-group__title-sm Напишите ваш вопрос:
                        +Input({type: 'textarea', placeholder: ''})
                +Doctor-slider({})
                .form-required * Поля, обязательные для заполнения
                .form__price 
                    .form__price_title Стоимость услуги:
                    if(param.free)
                        .form__price_cost.cost-blue Платно
                button.form-group__btn Отправить
            .form-agreement Нажимая на кнопку, вы даёте согласие на обработку персональных данных и принимаете пользовательское соглашение
            button.ask-form__btn-back     
                +icon('back')
        