mixin Sidebar(param={})
  .sidebar-list   
    ul 
      li
        +icon('analysis')
        a Анализы
        +icon('a-close')
      ul.accordion 
        - const listTitle = ['Популярные услуги', 'Аллергологические исследования', 'Аллергологические исследования (ифа)', 'Анализы мочи', 'Аутоиммунная патология', 'Бактериологические исследования', 'Биохимические исследования биологических исследований', 'Биохимические исследования крови', 'Гематологические исследования', 'Генетика', 'Гистологические исследования', 'Гормональные исследования', 'Диагностические профили исследований', 'Иммуногематология', 'Иммунологические исследования', 'Инфекционная серология', 'Исследование кала', 'Исследование эякулята', 'Исследования выдыхаемого воздуха']
          each el, i in Array(19)
            li.accordion__item  
              div
                a(href="#")=listTitle[i]
                if (i > 0)
                  .accordion__head
                    +icon('a-arrow-down')
              ul.accordion__body
                -const listTitleInner = ['Витамины', 'Обмен белков', 'Обмен железа', 'Обмен липидов', 'Обмен углеводов']
                  each el, i in Array(5)
                    li
                      a(href="#")=listTitleInner[i] 