extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.analysis

      section.a-container
        .a-title.a-p-sm Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)
      
        .a-services
          +TabsNav({
            items: [
              { label: 'Описание', targetId: 'tab1', },
              { label: 'Подготовка', targetId: 'tab2', },
              { label: 'Показания к назначению', targetId: 'tab3', },
              { label: 'Интерпретация результатов', targetId: 'tab4', },
            ],
            noCar: true,
            noSvg: true,
            tabsBtn: true
          })
          
          .a-inner-container
            +Sidebar({})
            
            +Analisys-list({
              listDescription: true,
              listTitle: 'Номенклатура МЗРФ (Приказ №804н): B03.016.002 Общий (клинический) анализ крови',
              listTitleLink: true,
              id: '1'
            })
            +Analisys-list({
              listPreparation: true,
              listTitle: 'Подготовка к исследованию',
              listTitleLink: true,
              id: '2'
            })
            +Analisys-list({
              listReadings: true,
              id: '3'
            })
            +Analisys-list({
              result: true,
              listText: true,
              id: '4'
            })
          
          .a-col
            +Analysis-cost({})

      section.vnd-container
        +Analysis-slider({})

      section.vnd-container
        +Analysis-slider({})

      section.vnd-container 
        +Analysis-info({
          title: 'Важная информация',
        })