extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.analysis

      section.vnd-container
        .a-title Общий анализ крови (CBC/Diff - 5 фракций лейкоцитов)
      
        .a-services
          +TabsNav({
            items: [
              { label: 'Описание', targetId: 'tab1', },
              { label: 'Подготовка', targetId: 'tab2', },
              { label: 'Показания к назначению', targetId: 'tab3', },
              { label: 'Интерпретация результатов', targetId: 'tab4', },
            ],
            noCar: true,
            noSvg: true,
          })
          
          .a-container
            +Sidebar({})
          
            +Analisys-list({
              listTitleLink: true,
            })
          
          .a-col
            +Analysis-cost({})

      section.vnd-container 
        +Analysis-info({
          title: 'Важная информация',
        })

      section.vnd-container
        .a-inner-container
          +Analysis-slider({})

      section.vnd-container
        .a-inner-container
          +Analysis-slider({})