extends ../templates/main

block variables
    - const title = 'Спроси врача'
    - const description = 'Описание главной страницы'

block content

    main.ask-doctor
        section.bg-blue
            .container
                +Doctor-banner()

        section.container
            +Doctor-info({})

        section.container
            +Doctor-info({
                reverce: true
            })
        
        section.bg-blue-gradient
            .container
                +Doctor-services({
                })
        section.bg-gray.container
                +Doctor-experts({
                })

        section.container
            +Doctor-form({
                free: true,
            })
            
        section.container
            +Doctor-search({
            })

        