extends ../templates/main

block variables
    - const title = 'Спроси врача'
    - const description = 'Описание главной страницы'

block content

    main.ask-doctor
        section.container
            +Doctor-form()