extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.ask
        section
            +Ask-banner()
        section.container
            +Ask-form()
        section.container
            +Ask-popular()