extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.collaboration

        section.container
            +Breadcrumbs({
                toDoctors: true,
            })

        section.bg-blue
            .container
                +Collaboration-banner({})

        section.container
            +Collaboration-direction({})

        section.container
            +Collaboration-doctors({})