extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.corporate-clients.m-neg-sm

        //- section.container
        //-     +Breadcrumbs({
        //-         toDoctors: true,
        //-     })

        section.bg-gray
            .container
                +Corporate-actual({
                })

        section.container
            .coprorate-info__title Почему мы?
            +Corporation-ask-info({
            })
            +Corporation-ask-info({
                reverce: true
            })

        section.bg-gray
            .container
                +Corporate-quality({
                })