extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main.corporate-clients

        //- section.container
        //-     +Breadcrumbs({
        //-         toDoctors: true,
        //-     })

        section
            +Corporate-banner({})
        
        section.bg-gray
            .container
                +Corporate-actual({
                })

        section.container
            .coprorate-info__title Почему мы?
            +Corporation-ask-info({
            })
            +Corporation-ask-info({
                reverce: true
            })

        section.bg-gray
            .container
                +Corporate-quality({
                })

        section.bg-sm-img 
            img(src="/assets/img/categories/labs-map-sm.png", alt="")
            .container  
                +Corporate-labs({})

        section.container
            +Corporate-slider({
            })

        section.bg-img 
            img(src="/assets/img/categories/bg-form.png", alt="")
            .container  
                +Corporate-form({})

        include _modals
                
