extends ../templates/main

block variables
    - const title = 'Франшиза'
    - const description = 'Описание'

block content
    .franchise-page.default-styles.font.box-sizing
        +Franchise-banner({})
        +Franchise-survey({})
        +Franchise-format({
            cards: [
                {
                    number: 'one',
                    name: 'Процедурный кабинет',
                    description: [
                        'Помещение от 50 м2',
                        'Окупаемость от 12 месяцев'
                    ],
                    img: '1'
                },
                {
                    number: 'two',
                    name: 'Процедурный кабинет + врач',
                    description: [
                        'Помещение от 67 м2',
                        'Окупаемость от 12 месяцев'
                    ],
                    img: '2'
                },
                {
                    number: 'three',
                    name: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dolorum.',
                    description: [
                        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dolorum.',
                        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dolorum.'
                    ],
                    img: '3'
                }
            ]
        })
        +Franchise-calculation({})
        +About-banner({
            container: true,
            addClass: 'about-banner__franchise',
            isTitle: true,
            title: 'Ситилаб — крупная международная сеть клинико-диагностических лабораторий.',
            isColumns: true
        })
        +Franchise-advantages({
            advantages: [
                { img: '1', titleSm: 'Эксклюзивные права на бренд', subtitleSm: 'Возможность работать под узнаваемым сильным брендом' },
                { img: '2', titleSm: 'Персональный менеджер - помощник', subtitleSm: 'Индивидуальное сопровождение и поддержка на всех этапах' },
                { img: '3', titleSm: 'Современные лабораторные мощности', subtitleSm: 'Более 3900 современных лабораторных исследований' },
                { img: '4', titleSm: 'Помощь  в оснащении медцентров', subtitleSm: 'Оборудование, мебель  и расходные материалы для старта' },
                { img: '5', titleSm: 'Обучение  и развитие персонала', subtitleSm: 'Обучающие программы для эффективной работы команды' },
                { img: '6', titleSm: 'Продвижение и маркетинг', subtitleSm: 'Готовый инструменты для привлечения пациентов и роста бизнеса' },
                { img: '7', titleSm: 'Поддержка колл-центра', subtitleSm: 'Организация стабильного пациентопотока и обработка заявок' },
                { img: '8', titleSm: 'Надежная логистика', subtitleSm: 'Отлаженная система доставки биоматериалов' },
                { img: '9', titleSm: 'IT инфраструктура', subtitleSm: 'Готовые диджитал-продукты для удобства работы' },
                ]
        })
        +Franchise-slider({})
        +Franchise-form({
            franchiseForm: true,
            title: 'мы ищем сильных партнеров'
        })
        
        +Franchise-accordion({
            list: [
                {head: '1. Требуется ли опыт в медицинской сфере для бизнеса по франшизе Ситилаб?', body: 'Нет. Мы предоставляем полное обучение для вас и ваших сотрудников, а также пошаговые инструкции по управлению медицинским офисом. Наша команда сопровождает вас на всех этапах: от выбора помещения до запуска и дальнейшей работы.'},
                {head: '2. Что представляет собой медицинский офис по франшизе Ситилаб?', body: 'Медицинский офис по франшизе Ситилаб — это полностью готовое решение, включающее проверенную бизнес-модель, оборудование, доступ к единой лабораторной базе, обучение персонала и маркетинговое сопровождение в строгом соответствии с брендбуком. Все процессы — от оформления заказов до взаимодействия с клиентами — соответствуют корпоративным стандартам Ситилаб, что гарантирует высокое качество услуг.'},
                {head: '3. Сколько времени занимает процесс открытия франшизы?', body: 'От 4 до 6 месяцев, в зависимости от скорости оформления документов и степени готовности помещения для работы.'},
                {head: '4. Что входит в стартовые инвестиции?', body: `<ul> <li>1) Подготовка помещения – арендная плата, ремонт и отделка помещения;</li> <li> 2) Закупка и установка необходимой медицинской и немедицинской мебели, медицинского оборудования, компьютерного и кассового оборудования, системы кондиционирования и вентиляции.</li> </ul>`},
                {head: '5. Какой средний срок окупаемости медицинского бизнеса?', body: 'Средний срок окупаемости вложенных инвестиций составляет 12 месяцев. Зависит от выбранного вами формата франшизы: процедурный кабинет, процедурный кабинет + кабинет врача, медицинский центр.'},
            ]
        })

        +Modal-business-application()
        +Modal-franchise-format({
            modalNumber: 'one',
            title: 'процедурный кабинет',
            subtitle: [
                { text: 'Вложений: от <span>2 400 000 ₽</span>' },
                { text: 'Средний чек: <span class="text-black">1 500–2 000 ₽</span>' },
                { text: 'Рентабельность: <span>23–30 %</span>' }
                ],
            img: '1',
            list: [
                {
                    listTitle: 'Базовые услуги:',
                    items: [
                        'Лабораторные анализы — 3900+ видов исследований',
                        'Забор биоматериала — кровь, моча, мазки, соскобы',
                        'CITO анализы — срочные исследования (опционально)',
                        'Инфузионная терапия — капельницы, инъекции (опционально)'
                    ]
                },
                {
                    listTitle: 'Персонал:',
                    items: [
                        'Медсестра',
                        'Администратор (совмещение функций)'
                    ]
                },
                {
                    listTitle: 'IT и логистика:',
                    items: [
                        'Онлайн-заказ анализов через сайт',
                        'Курьерская доставка биоматериала',
                        'Колл-центр'
                    ]
                }
            ]
        })
        +Modal-franchise-format({
            modalNumber: 'two',
            title: 'процедурный кабинет+кабинет врача',
            subtitle: [
                { text: 'Вложений: от <span>3 440 000 ₽</span>' },
                { text: 'Средний чек: <span class="text-black">2 000-3 000 ₽</span>' },
                { text: 'Рентабельность: <span>30-35 %</span>' }
                ],
            img: '2',
            list: [
                {
                    listTitle: 'Базовые услуги:',
                    items: [
                        'Лабораторные анализы — 3900+ видов исследований',
                        'Забор биоматериала — кровь, моча, мазки, соскобы',
                        'CITO анализы — срочные исследования (опционально)',
                        'Инфузионная терапия — капельницы, инъекции (опционально)',
                        'Консультации врачей — терапевт, гинеколог',
                        'УЗИ диагностика — базовые исследования',
                        'Назначение анализов — независимо от сторонних врачей',
                        'Справки и медицинские документы',
                        'Выездные услуги — забор анализов и консультации на дому (опционально)',
                        'Вакцинация (при наличии лицензии)'
                    ]
                },
                {
                    listTitle: 'Персонал:',
                    items: [
                        'Медсестра',
                        'Администратор (совмещение функций)',
                        'Врач-специалист (терапевт / гинеколог / УЗИ-специалист)',
                        'Уборщица'
                    ]
                },
                {
                    listTitle: 'IT и логистика:',
                    items: [
                        'Онлайн-заказ анализов через сайт',
                        'Курьерская доставка биоматериала',
                        'Колл-центр'
                    ]
                }
            ]
        })
        +Modal-franchise-format({
            modalNumber: 'three',
            title: 'МЕдицинский центр',
            subtitle: [
                { text: 'Вложений: от <span>5 220 000 ₽</span>' },
                { text: 'Средний чек: <span class="text-black">3 000-5 000 ₽</span>' },
                { text: 'Рентабельность: <span>35 %</span>' }
                ],
            img: '3',
            list: [
                {
                    listTitle: 'Базовые услуги:',
                    items: [
                        'Лабораторные анализы — 3900+ видов исследований',
                        'Забор биоматериала — кровь, моча, мазки, соскобы',
                        'CITO анализы — срочные исследования (опционально)',
                        'Инфузионная терапия — капельницы, инъекции (опционально)',
                        'Консультации узких специалистов — кардиолог, невролог, уролог, дерматолог и др.',
                        'Функциональная диагностика — ЭКГ, ЭхоКГ, суточное мониторирование',
                        'Расширенная УЗИ диагностика — все органы и системы',
                        'Выездные услуги — забор анализов и консультации на дому (опционально)',
                        'Медицинские справки всех видов',
                        'ДМС обслуживание — работа со страховыми компаниями (опционально)'
                    ]
                },
                {
                    listTitle: 'Персонал:',
                    items: [
                        'Штат врачей-специалистов',
                        'Медсестры',
                        'Администратор (совмещение функций)',
                        'Уборщица'
                    ]
                },
                {
                    listTitle: 'IT и логистика:',
                    items: [
                        'Онлайн-заказ анализов через сайт',
                        'Курьерская доставка биоматериала',
                        'Колл-центр'
                    ]
                }
            ]
        })