extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    section.home-visit__not-avaible
      .vnd-container
        +icon('icon-attention')
        div В данном регионе услуга Выезд на дом не осуществляется.

    section.home-visit
      section.vnd-container 
        +Visit-head()

      section.vnd-container
        include ../components/Visit-promo/Visit-promo

      section.vnd-container
        
        //- .home-visit__tabs
        //-   +TabsNav({
        //-     items: [
        //-       { label: 'Анализы<br>на дому', targetId: 'tab1', svg: 'test' },
        //-       { label: 'Выезд<br>Педиатра', targetId: 'tab3', svg: 'doctor' },
        //-       { label: 'ЭКГ<br>на дому', targetId: 'tab4', svg: 'heart' },
        //-     ],
        //-   })
        //-   .home-visit__tabs-img 
        //-     img(src="/assets/img/categories/vnd/mark.png", alt="")

        .visit-home__tabs-full
          +TabsNav({
            items: [
              { label: 'Анализы<br>на дому', targetId: 'tab1', svg: 'test' },
              { label: 'Выезд<br>Терапевта', targetId: 'tab2', svg: 'doctor' },
              { label: 'Выезд<br>Педиатра', targetId: 'tab3', svg: 'doctor' },
              { label: 'ЭКГ<br>на дому', targetId: 'tab4', svg: 'heart' },
              { label: 'Спермограмма<br>на дому', targetId: 'tab5', svg: 'sperm' },
              { label: 'Вакцинация<br>на дому', targetId: 'tab6', svg: 'vaccine' },
              { label: 'Уколы, инъекции,<br>капельницы<br>на дому', targetId: 'tab7', svg: 'injection' },
            ],
            isCar:true,
          })
          
      section.vnd-container
        .tabb(style="width: 100%; height: max-content; background: none;" id='tab1')

          .inner-content
            include ../components/Actual/Actual
          
          .inner-content
            +Visit-service({
              title: 'Анализы на дому',
              subtitle: 'по Москве и Московской области в пределах 60 км от МКАД',
              serviceAnalysis: true
            })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда медсестры *',
              subtitle: 'Точная стоимость выезда по вашему адресу рассчитывается оператором службы выезда на дом',
              footnoteTwo: true
            })

          .inner-content
            include ../components/Visit-test/Visit-test

          .inner-content
            +Visit-attention({
              attentionAnalysis: true,
              title: 'Анализы, недоступные через выездную службу',
              subtitle: 'Более подробную информацию о доступных исследованиях уточняйте у оператора при оформлении заявки.'
            })

          .inner-content
            +Visit-result({
              noTitle: true,
            })
          
          .inner-content
            +Visit-text({
              title: 'Как правильно подготовиться к сдаче анализов',
            })

          .inner-content
            +Visit-result({
              title: 'Как получить результаты анализов'
            })

          .inner-content
            include ../components/Visit-ask/Visit-ask

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab2')

          .inner-content
            +Visit-service({
            title: 'Выезд терапевта',
            subtitle: 'по Москве и Московской области в пределах 30 км от МКАД',
            serviceTherapist: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда терапевта *',
              subtitle: 'Точная стоимость выезда по вашему адресу рассчитывается оператором службы выезда на дом',
              footnoteOne: true
            })

          .inner-content
            +Visit-info({
              textOne: 'Квалифицированная медицинская помощь у вас дома. Медицинский персонал имеет при себе полный комплект необходимых медицинских инструментов, строго соблюдает санитарно-гигиенические нормы и протоколы диагностики и лечения.',
              textTwo: 'Выезд на дом – это удобно.',
              title: 'Врач-терапевт:',
              infoTherapist: true
            })

          .inner-content 
            +Visit-documents({
              documentsTherapist: true
            })  

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab3')

          .inner-content 
            +Visit-service({
            title: 'Выезд педиатра',
            subtitle: 'по Москве в пределах МКАД',
            servicePediatrician: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда педиатра *',
              footnoteOne: true
            })

          .inner-content
            +Visit-info({
              textOne: 'Мы заботимся о здоровье самых маленьких пациентов. Когда ребенок чувствует себя плохо, лучшим решением будет вызвать специалиста на дом, чтобы получить консультацию врача в кратчайшие сроки.',
              textTwo: 'Врач-педиатр поможет малышу и проконсультирует родителей по медицинским вопросам.',
              title: 'Врач-педиатр:',
              infoPediatrician: true
            })

          .inner-content 
            +Visit-documents({
              documentsPediatrician: true
            })

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab4')

          .inner-content 
            +Visit-service({
            title: 'ЭКГ на дому',
            subtitle: 'по Москве и Московской области в пределах 60 км от МКАД',
            serviceHeart: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда медсестры *',
              subtitle: 'Точная стоимость выезда по вашему адресу рассчитывается оператором службы выезда на дом',
              footnoteTwo: true
            })

          .inner-content
            +Visit-info({
              textOne: 'Врачи рекомендуют снимать ЭКГ в состоянии спокойствия, но для многих поход в медицинское учреждение сам по себе является стрессом.',
              textTwo: 'Наш специалист приедет к вам и запишет показатели работы сердца в привычной домашней обстановке с использованием портативного устройства. Врач оформит заключение, которое будет отправлено на электронную почту в этот же день.',
              title: false
            })

          .inner-content 
            +Visit-procedure({
              title: 'Лаборатория СИТИЛАБ оказывает услугу по ЭКГ:',
              heart: true,
            })

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab5')

          .inner-content 
            +Visit-service({
            title: 'Спермограмма на дому',
            subtitle: 'по Москве в пределах МКАД',
            serviceSperm: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда курьера',
              footnoteTwo: false
            })

          .inner-content
            +Visit-info({
              textOne: 'Сдайте исследование в комфортной обстановке.',
              textTwo: 'Вам больше не нужно тратить время на дорогу и ожидание, достаточно оформить заказ и передать биоматериал курьеру СИТИЛАБ, остальное – наша работа!',
              title: false
            })

          .inner-content 
            +Visit-attention({
              title: 'Пожалуйста, внимательно изучите:',
              attentionSperm: true,
            })

          .inner-content 
            +Visit-procedure({
              title: 'Лаборатория СИТИЛАБ проводит полный комплекс исследований эякулята:',
              sperm: true,
            })

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab6')

          .inner-content 
            +Visit-service({
            title: 'Вакцинация на дому',
            subtitle: 'по Москве в пределах МКАД',
            serviceVaccination: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость осмотра врача перед вакцинацией на дому *',
              footnoteThree: true
            })

          .inner-content 
            +Visit-attention({
              title: 'Услуга предоставляется для лиц старше 18 лет. Перед процедурой выполняется осмотр врачом-терапевтом.',
              attentionVaccine: true,
            })

          .inner-content 
            +Visit-procedure({
              title: 'Лаборатория СИТИЛАБ оказывает услуги по вакцинации:',
              vaccine: true,
            })

        .tabb(style="width: 100%; height: 300px; display: none;" id='tab7')

          .inner-content 
            +Visit-service({
            title: 'Уколы, инъекции, капельницы на дому',
            subtitle: 'по Москве в пределах МКАД',
            serviceInjection: true
          })

          .inner-content.v-show-list
            +Visit-price({
              title: 'Стоимость выезда медсестры *',
              footnoteOne: true,
              footnoteContraindications: true,
            })

          .inner-content 
            +Visit-attention({
              title: 'Услуга предоставляется для лиц старше 18 лет по направлению врача.',
              attentionVaccine: true,
            })

          .inner-content 
            +Visit-procedure({
              title: 'Лаборатория СИТИЛАБ оказывает услуги по внутривенным и внутримышечным введениям препаратов:',
              injection: true,
              footnote: true,
            })

    //- include _modals
