extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    ul
        li
            a(href="about.html") about
        li
            a(href="analysis.html") analysis
        li
            a(href="analysis-msk.html") analysis-msk
        li
            a(href="analysis-result-search.html") analysis-result-search
        li
            a(href="ask.html") ask
        li
            a(href="ask-doctor.html") ask-doctor
        li
            a(href="calendar.html") calendar
        li
            a(href="cart-page.html") cart-page!
        li
            a(href="celebrate.html") celebrate
        li
            a(href="collaboration.html") collaboration
        li
            a(href="competition.html") competition
        li
            a(href="corporate-clients.html") corporate-clients
        li
            a(href="drop-down-list.html") drop-down-list
        li
            a(href="expert.html") expert
        li
            a(href="footer-page.html") footer-page!
        li
            a(href="home-visit.html") home-visit
        li
            a(href="invite-friend.html") invite-friend
        li
            a(href="main-page.html") main-page
        li
            a(href="reviews.html") reviews!
        
        li 
          button(data-my-modal="#modal-menu") menu
        li 
          a(href="about.html" data-my-modal="#modal-menu") 
            +Info-popup({})

    ul
        li
            a(href="ui.html") UI Examples
    
    include _modals
