extends ../templates/main

block variables
    - const title = 'Медицинский центр'
    - const description = 'Описание страницы'

block content

    .medical-center.default-styles.font.box-sizing
        .container
            +Banner-slider(
                [
                    {
                        title: 'Ситисила здоровья в новогодний сезон',
                        subtitle: 'Минус 26% на 26 чекапов',
                        img: 'medicine-center-slider-1',
                    },
                    {
                        title: 'Экспресс-анализы CITO',
                        subtitle: 'Какие тесты можно сдать за 3 часа',
                        img: 'medicine-center-slider-2',
                    }
                ],  
            'medical-center')
            
        .container 
            +Medical-center-address({

            })
        
        .container  
            .visit-attention
                .visit-attention__subtitle Уважаемые пациенты! Прием анализов в срочном режиме. По биохимическим тестам ограничения по понедельникам с 10:00 и до 12:00. Анализ спермограммы можно сдать в будний день с 08:00-17:00, суббота и воскресенье с 08:00 до 14:00 
                .visit-attention__subtitle Приносим извинения за доставленные недобства.
        .container
            +Medical-center-schedule({})
