extends ../templates/main

block variables
    - const title = 'Медицинский центр'
    - const description = 'Описание страницы'

block content

    .medical-center.default-styles.font.box-sizing
        .container
            +Banner-slider(
                [
                    {
                        title: 'Ситисила здоровья в новогодний сезон',
                        subtitle: 'Минус 26% на 26 чекапов',
                        img: 'medicine-center-slider-1',
                    },
                    {
                        title: 'Экспресс-анализы CITO',
                        subtitle: 'Какие тесты можно сдать за 3 часа',
                        img: 'medicine-center-slider-2',
                    }
                ],  
            'medical-center')
