extends ../templates/main

block variables
    - const title = 'Медицинский центр'
    - const description = 'Описание страницы'

block content

    .medical-center.default-styles.font.box-sizing
        .container
            +Banner-slider(
                [
                    {
                        title: 'Ситисила здоровья в новогодний сезон',
                        subtitle: 'Минус 26% на 26 чекапов',
                        img: 'medicine-center-slider-1',
                    },
                    {
                        title: 'Экспресс-анализы CITO',
                        subtitle: 'Какие тесты можно сдать за 3 часа',
                        img: 'medicine-center-slider-2',
                    }
                ],  
            'medical-center')


        .container 
            +Medical-center-address({})

        .container  
            .visit-attention
                .visit-attention__subtitle Уважаемые пациенты! Прием анализов в срочном режиме. По биохимическим тестам ограничения по понедельникам с 10:00 и до 12:00. Анализ спермограммы можно сдать в будний день с 08:00-17:00, суббота и воскресенье с 08:00 до 14:00 
                .visit-attention__subtitle Приносим извинения за доставленные недобства.
        .container
            +Medical-center-schedule({})

        +Medical-center-services({
            title: 'Услуги медцентра',
            list: ['Анализы крови, мочи, кала', 'Анализы для детей (взятие крови у детей) с 3х лет', 'Прием биоматериала для спермограммы', 'Анализ на коронавирус SARS-CoV-2', 'Гинекологические анализы', 'Анализ на антитела к коронавирусу SARS-CoV-2', 'Взятие мазков и соскобов на ПЦР-анализы', 'Передача БМ в лабораторию']
        })
        .container 
            +News-block({
                slider: true,
                addClass: 'news-block__slider-container',
            })
        .container.container--slider-mobile.container--gray-bg-mobile
            +Medical-center-slider-template({
                title: 'Врачи медицинского центра',
                subtitle: 'Москва, Хорошевское шоссе, д. 90',
                doctors: true
            })
        .container
            .dropdown
                input(type="hidden" name="service" class="dropdown__value")
                .dropdown__head(tabindex="0")
                    span.dropdown__text Москва -  в пределах МКАД - 750 руб.
                    +icon('a-arrow-down')

                ul.dropdown__list
                    li.dropdown__item(data-value="Москва -  в пределах МКАД - 750 руб.") Москва -  в пределах МКАД - 750 руб.
                    li.dropdown__item(data-value="Lorem ipsum") Lorem ipsum, dolor sit amet consectetur adipisicing elit.!
                    li.dropdown__item(data-value="Некий адрес") Некий адрес
        .container.container--slider-mobile.container--gray-bg-mobile
            +Medical-center-slider-template({
                title: 'Отзывы',
                subtitle: 'Москва, Хорошевское шоссе, д. 90',
                reviews: true,
                note: true
            })
        .container 
            +Medical-center-catalog({
                list: [
                    'Аллергологические исследования', 'Аллергологические исследования (ИФА)', 'Анализы мочи', 'Аутоиммунная патология', 'Бактериологические исследования', 'Биохимические исследования биологических жидкостей', 'Биохимические исследования крови', 'Гематологические исследования', 'Генетика', 'Гистологические исследования', 'Гормональные исследования', 'Диагностические профили исследований', 'Иммуногематология', 'Иммунологические исследования', 'Инфекционная серология', 'Исследование кала', 'Исследование эякулята', 'Исследование выдыхаемого воздуха', 'Коагулологические исследования', 'Лекарственный мониторинг', 'Маркеры опухолевого роста', 'Микроэлементы и метаболиты', 'Непроизводственные услуги', 'Общеклинические исследования', 'Пакетные предложения на лабораторные услуги', 'Популярные услуги', 'Промо-услуги', 'ПЦР-диагностика инфекций', 'Услуги по взятию биоматериала', 'Цитологические исследования', 'Медицинские услуги'
                ]
            })

        +Medical-center-legal-info({
            items: [{title: 'Наименование:', subtitle: 'ООО «Ситилаб МО»'}, {title: 'Юридический адрес:', subtitle: '123308, г. Москва, Хорошевское шоссе, д.43Г, стр.1, комн. 1'}, {title: 'Фактический адрес:', subtitle: '123308, г. Москва, Хорошевское шоссе, д.43Г, стр.1, комн. 1'}],
            itemImg: {img: 'license', title: 'Лицензия:', subtitle: 'Л041-01164-52/00562627 от 27.10.2021на осуществление медицинской деятельности'}
        })
        .global-tooltip(id='globalTooltip')

