.a-cost {
  background-color: #f1fcff;
  position: sticky;
  padding: 30px 40px 35px;
  max-width: 340px;
  .a-subtitle {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500 !important;
    svg {
      height: 24px;
      width: 24px;
      max-width: 24px;
      min-width: 24px;
      fill: transparent;
      stroke: #00abdf;
    }
    span {
      white-space: break-spaces;
    }
    &__price {
      font-weight: 700;
    }
  }
  .a-title-sm {
    margin-bottom: 5px !important;
    text-align: left !important;
    font-size: 14px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
      fill: #00abdf;
      stroke: #fff;
    }
  }
  .ico-info {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
  }
  .ico-info:hover .ico-popup {
    display: block;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(178, 186, 198);
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }
  .a-title {
    line-height: 22px;
    margin-bottom: 5px !important;
    text-align: left !important;
  }
  .btn-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .a-cost__btn {
      background-color: #00abdf;
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      svg {
        height: 30px;
        width: 30px;
        fill: #fff;
      }
      span {
        color: #fff;
      }
      &:hover {
        background-color: #11c3f3;
      }
    }
  }
  @media (max-width: 1440px) {
    padding: 30px 38px 35px;
    .a-title-sm {
      line-height: 22px !important;
    }
    .a-title {
      font-size: 32px;
      line-height: 22px;
    }
    .btn-container {
      .a-cost__btn {
        .a-subtitle {
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 700px) {
    max-width: 100%;
  }
}
