.modal-business-application,
.modal-franchise-format {
  background-color: $white;
  border-radius: 20px;
  margin: 20px 17px;

  max-height: calc(100% - 40px);

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__row {
      display: flex;
      gap: 22px;
      align-items: flex-start;
    }
  }
  .c-btn {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 10px;
    max-width: 100%;
    white-space: nowrap;
    padding: 16px 5px;
    font-family: 'Montserrat', sans-serif;
    gap: 5px;
  }
  .v-input {
    &__placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      color: rgba(76, 81, 85, 1);
      cursor: text;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      transition: top $transition, font-size $transition;
    }
  }
  input {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(187, 191, 197, 0.3);
    padding: 18px 5px 18px 20px;
    border: none !important;
    color: rgba(76, 81, 85, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.28px;

    &:active,
    &:focus {
      outline: none;
    }

    &:required {
      + .v-input__placeholder::before {
        content: '*';
        position: absolute;
        top: -5px;
        right: -10px;
        color: $text-error;
      }
    }

    &:focus,
    &:not(:placeholder-shown) {
      + .v-input__placeholder {
        display: none;
      }
    }
  }
  .disclaimer {
    color: rgba(76, 81, 85, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    margin-top: 10px;
    max-width: 1177px;
    width: 100%;
  }
  .modal {
    &__head {
      position: relative;
    }
    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      svg {
        width: 24px;
        height: 24px;
        fill: rgba(177, 178, 180, 1);
      }
    }
  }
  .title {
    color: rgba(76, 81, 85, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  @include xs {
    border-radius: 10px;
    .form {
      gap: 10px;
      &__row {
        flex-direction: column;
        gap: 10px;
      }
    }
    .v-input {
      &__placeholder {
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
      }
    }
    input {
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
    }
    .disclaimer {
      color: rgba(51, 51, 51, 1);
      font-weight: 500;
      line-height: 100%;
      margin-top: 13px;
    }
    .c-btn {
      font-size: 20px;
      line-height: 100%;
    }
    &:not(.modal-success) {
      .title {
        font-size: 16px;
      }
    }
  }
}
.modal-business-application {
  &:not(.modal-success) {
    .title {
      margin-bottom: 10px;
    }
    .modal__body {
      padding: 96px;
    }
  }
  &.modal-success {
    .title {
      margin-bottom: 20px;
    }
    .modal__body {
      padding: 96px 96px 48px;
    }
  }
  .subtitle {
    color: rgba(76, 81, 85, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
  }
  @include xs {
    .subtitle {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &:not(.modal-success) {
      .title {
        margin-bottom: 10px;
      }
      .modal__body {
        padding: 44px 24px 30px;
      }
    }
    &.modal-success {
      .title {
        font-size: 20px;
        margin-bottom: 16px;
      }
      .modal__body {
        padding: 40px 24px;
      }
    }
  }
}
