mixin Modal-business-application(param={})
    .modal-fixed(id='modal-business-application')
        .modal-business-application
            .modal__head
                button.modal__close(data-close-modal aria-label='Закрыть модальное окно')
                    +icon('close')
            .modal__body
                +Business-application-form()
                
    .modal-fixed(id='modal-business-application-success')
        .modal-business-application.modal-success
            .modal__head
                button.modal__close(data-close-modal aria-label='Закрыть модальное окно')
                    +icon('close')
            .modal__body
                .title Ваша заявка отправлена!
                p.subtitle Спасибо за заявку! Менеджер свяжется с вами.
                a.c-btn.c-btn_red(href='presentation.pdf' download) Скачать презентацию <span class='n-d-none-sm'>о франшизе Ситилаб</span>

