mixin Corporate-quality(param={})
    .actual.corporate-quality
        .actual__title Многоступенчатый контроль качества
        ul.actual__list
            li 
                img(src="/assets/img/categories/quality-club.png", alt="")
                .actual__service-name Quality Club (Швеция) — №
                    span qc041096, June 19, 207 
            li 
                img(src="/assets/img/categories/sysmex.png", alt="")
                .actual__service-name SNCS EQAS Online (Япония) 
                    span Jule 2015 — June 2016
            li 
                img(src="/assets/img/categories/riqas.png", alt="")
                .actual__service-name RIQAS (Великобритания) 
                    span January 2016 — December 2016 
            li 
                img(src="/assets/img/categories/eqas.png", alt="")
                .actual__service-name EQAS (США) 
                    span May 2016 — February 2017 
            li 
                img(src="/assets/img/categories/fsvok.png", alt="")
                .actual__service-name ФСВОК (Россия) — №12998/17
        .actual__btns
            a(href="#").actual__btn.actual__btn-more Узнать больше
            a(href="#").actual__btn.actual__btn-join Присоединиться к нам
                