.global-tooltip {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;

  left: var(--anchor-x);
  top: var(--anchor-y);
  z-index: 10;
}

.global-tooltip.is-visible {
  opacity: 1;
}
.global-tooltip.medical-center__doctor_tooltip {
  background: #fff;
  color: #222;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

  transform: translate(-50%, calc(-100% - 26px));
  min-width: 200px;
  width: max-content;
  max-width: 250px;
  text-align: center;

  color: rgba(59, 75, 100, 1);

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
}
@media (max-width: 1500px) {
  .global-tooltip.medical-center__doctor_tooltip {
    transform: translate(calc(-100% + 18px), calc(-100% - 26px));
    min-width: 100px;
    max-width: 200px;
  }
}
