.visit-test
  .visit-test__title Выездная служба выполняет
  ul.visit-test__list   
    li 
      +icon('icon-check') 
      div Взятие крови взрослым и детям 0+
    li 
      +icon('icon-check') 
      div Взятие мазков из рото- и носоглотки
    li 
      +icon('icon-check') 
      div Принимает мочу, кал