.cart-page {
  .order-details {
    &__content {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 24px;
      border-top: 1px solid rgba(234, 236, 240, 1);
      margin-top: 32px;
      padding-top: 24px;
    }
    &__note {
      color: rgba(16, 24, 40, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -2%;
      text-align: left;
      grid-column: 1 / 3;
    }

    &__center {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      border-radius: 12px;
      background-color: rgba(249, 250, 251, 1);
      padding: 16px;
      &-info {
      }
      &-content {
        display: flex;
        gap: 12px;
        svg {
          width: 20px;
          height: 20px;
          min-width: 20px;
          min-height: 20px;
          fill: rgba(0, 171, 223, 1);
        }
      }
      &-map {
        width: 100%;
        height: 100%;
        max-width: 275px;
        max-height: 234px;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    &__address {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      color: rgba(52, 64, 84, 1);
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 4px;
    }
    &__phone {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 12px;
      a {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        transition: all 0.3s ease;
        &:hover {
          color: rgb(21, 195, 250);
        }
      }
    }
    &__schedule,
    &__biomaterial {
      margin-bottom: 8px;
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
        &.bold {
          font-weight: 600;
        }
      }
    }
    &__more {
      margin-top: 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        fill: rgba(0, 171, 223, 1);
        transition: transform 0.3s ease;
      }
      &:hover {
        svg {
          //   margin-left: 4px;
          transform: translateX(4px);
        }
      }
    }
    &__summary {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .devider {
        background-color: rgba(234, 236, 240, 1);
        height: 1px;
        width: 100%;
      }
      .order {
        &-number,
        &-sum,
        &-discount,
        &-total,
        &-status {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-number {
          color: rgba(16, 24, 40, 1);
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0%;
        }
        &-sum,
        &-discount {
          color: rgba(52, 64, 84, 1);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0%;
        }
        &-total {
          color: rgba(52, 64, 84, 1);
          font-size: 20px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0%;
        }
        &-status {
          color: rgba(52, 64, 84, 1);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0%;
        }
        &-check {
          display: flex;
          justify-content: flex-end;
          a {
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -2%;
            text-align: center;
            border-radius: 4px;
            background-color: rgba(243, 246, 249, 1);
            padding: 2px 8px;
          }
        }
      }
    }
    @include md {
      &__content {
        grid-template-columns: repeat(1, 1fr);
      }
      &__note {
        grid-column: 1 / 2;
      }
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
      &__content {
        grid-template-columns: repeat(1, 1fr);
      }
      &__center {
        background-color: transparent;
        &-content {
          width: 100%;
        }
      }
    }
    @include xs {
      &__center {
        padding: 0;
        &-content {
          flex-direction: column;
          svg {
            display: none;
          }
        }
      }
    }
  }
}
