mixin Ask-banner(param={})
    .ask-banner
        .ask-banner__img 
            img(src="/assets/img/categories/ask-banner.png", alt="Спроси эксперта")
        .ask-banner__title Спроси эксперта
        +icon('ask')
        +icon('answer')