mixin Invite-steps(param={})
    .invite-steps.collaboration-choosing
        .collaboration-choosing__cards
            .collaboration-choosing__content
                .collaboration-choosing__content_number 01
                .collaboration-choosing__content_title 
                    span Заполните анкету
                    span рекомендации
                .collaboration-choosing__content_subtitle После регистрации ожидайте письмо на почту с описанием дальнейших действий.
            
            .collaboration-choosing__content
                .collaboration-choosing__content_number 02
                .collaboration-choosing__content_title 
                    span Порекомендуйте 
                    span работу другу
                .collaboration-choosing__content_subtitle Изучите различные направления и расскажите о них своим друзьям.
            
            .collaboration-choosing__content
                .collaboration-choosing__content_number 03
                .collaboration-choosing__content_title 
                    span Получите 
                    span вознаграждение
                .collaboration-choosing__content_subtitle Бонус придет после того, как ваш кандидат пройдет испытательный срок.
