// Библиотеки (опционально)
// @import '~normalize.css';
// @import '~nouislider';
// @import '~tippy.js/dist/tippy.css';
// @import '~hystmodal/dist/hystmodal.min.css';
// @import '~bootstrap/dist/css/bootstrap.min.css';

// Утилиты
@import 'ui/variables.scss';
@import 'ui/breakpoints.scss';
@import 'ui/keyframes.scss';
@import 'ui/global.scss';

// Основные стили
@import '~@/components/components';
@import '~@/mixins/mixins';
@import 'ui/temp'; // < ВРЕМЕННЫЕ СТИЛИ

// html {
//   font-family: 'Ubuntu', sans-serif;
//   font-size: 15px;
//   line-height: 26px;
// }

.home-visit {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    li {
      padding: 0 !important;
    }
  }
  p {
    margin: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  &__not-avaible {
    .vnd-container {
      display: flex;
      column-gap: 15px;
    }
    div {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-align: left;
    }
    svg {
      fill: none;
      stroke: #f9ac01;
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
    @media (max-width: 600px) {
      padding: 40px 47px;
      background-color: #fefbf2;
    }
  }
  @media (max-width: 700px) {
    .actual__list li {
      padding: 30px !important;
    }
  }
  @media (max-width: 355px) {
    .actual__list li {
      padding: 15px !important;
    }
  }
}
.home-visit {
  display: flex;
  flex-direction: column;
  .border-top-mobile {
    @media (max-width: 700px) {
      border-top: 1px solid var(--gray1, #b2bac6);
    }
  }
  .vnd-container {
    &:nth-child(1) {
      padding-bottom: 0 !important;
    }
    &:nth-child(2) {
      padding-bottom: 0 !important;
      min-height: 664px;
    }
    &:nth-child(3) {
      padding-top: 0 !important;
    }
    &:nth-child(4) {
      padding-top: 0 !important;
    }
    @media (max-width: 1000px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      &:nth-child(1) {
        padding-bottom: 0 !important;
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
        min-height: max-content;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }
    }
  }
  .inner-content {
    padding: 40px 58px !important;
    @media (max-width: 700px) {
      padding: 0 !important;
    }
  }
  @media (max-width: 700px) {
    .padding-mobile.inner-content {
      padding: 0 22px !important;
      .visit-price__footnote {
        padding: 15px 0 50px;
      }
    }
  }
  &__tabs-img {
    @media (max-width: 1500px) {
      display: none;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    .tabs-nav {
      width: initial;
      justify-content: center;
      align-items: center;
      padding-left: 35px;
      padding-right: 35px;
      &__btn {
        width: 100%;
        max-width: 168px;
        min-width: 168px;
      }
    }
    .tabs-car {
      @media (max-width: 1500px) {
        width: 246.015px;
        height: 115px;
      }
      img {
        width: 140px;
        height: 66px;
        @media (max-width: 1500px) {
          width: 246.015px;
          height: 115px;
        }
      }
    }

    @media (max-width: 1000px) and (min-width: 700px) {
      .tabs-car {
        width: 246.015px;
        height: 115px;
        img {
          width: 246.015px;
          height: 115px;
        }
      }
    }
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  #tab7 {
    .inner-content {
      .visit-contraindications {
        border-bottom: none;
      }
      .visit-procedure {
        border-top: 1px solid var(--gray1, #b2bac6);
      }
    }
  }
}
