mixin Invite-banner(param={})
    .invite-banner.collaboration-banner
        .collaboration-banner__title Приводи друзей и получай 5000 рублей
        ul.collaboration-banner__subtitle 
            li Объем вознаграждения неограничен
            li Вознаграждение за каждого сотрудника
            li Работа по всей России
        .collaboration-banner__btn 
            a(href="#") Рекомендовать
        .collaboration-banner__img
            img(src="/assets/img/categories/invite-banner.png", alt="")