mixin Doctor-services(param={})
    .ask-services#ask-services
        .ask-services__title Услуги сервиса Спроси врача
        .ask-services__cards
            +Ask-services-card({
                title: 'Расшифровка результатов анализов Ситилаб',
                li: ['Интерпретация результатов анализов врачом Ситилаб'],
                cost: 'Бесплатно',
                costClass: 'text-green',
            })
            +Ask-services-card({
                title: 'Расшифровка результатов анализов другой лаборатории',
                li: ['Интерпретация результатов анализов врачом Ситилаб'],
                cost: '50 руб',
                mark: true,
                costClass: 'text-blue',
            })
            +Ask-services-card({
                title: 'Задать вопрос врачу',
                li: ['Помощь в выборе анализов','Направление к профильным специалистам'],
                cost: 'Бесплатно',
                costClass: 'text-green',
                check: true
            })
            +Ask-services-card({
                title: 'Консультация эксперта',
                li: ['Возможность выбора врача', 'История хранится на сайте Ситилаб в разделе «Вопрос - Ответ»', 'Возможность получить консультацию анонимно'],
                cost: 'платно',
                costClass: 'text-blue'
            })