.medical-center__catalog {
  padding: 60px 0;
  .catalog {
    &__subtitle {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -2%;
      text-align: left;
      text-align: center;
      color: rgba(59, 75, 100, 1);
      span {
        font-weight: 700;
      }
      a {
        text-decoration: none;
        transition: all 0.3s ease;
        margin-right: 4px;
        &:hover {
          color: rgb(21, 195, 250);
        }
      }
    }
    &__btn {
      text-decoration: none;
      color: rgba(59, 75, 100, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -2%;
      padding: 11px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border: 1px solid rgba(178, 186, 198, 1);
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
      max-width: max-content;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        border-color: rgb(21, 195, 250);
        svg {
          stroke: rgb(21, 195, 250);
        }
      }
      svg {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        stroke: rgba(0, 171, 223, 1);
        fill: #fff;
        transition: all ease 0.3s;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      &_item {
        padding: 0;
        display: flex;
        text-align: center;
        &.has-separator {
          &::before {
            content: '|';
            display: block;
            position: relative;
            margin-right: 10px;
          }
        }
        a {
          text-align: center;
          text-decoration: none;
          color: rgba(59, 75, 100, 1);
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: -2%;
          display: flex;
          transition: all 0.3s ease;
          &:hover {
            color: rgba(0, 171, 223, 1);
          }
        }
      }
    }
  }
  @media (max-width: 1440px) {
    padding: 40px 0;
    .catalog {
      &__list {
        flex-direction: column;
        width: 100%;
        &_item {
          max-width: 100%;
          border-bottom: 1px solid rgba(234, 236, 240, 1);
          padding-bottom: 10px;
          align-items: center;
          justify-content: center;
          a {
            margin-right: 0;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
