.note {
  border-radius: 20px 20px 20px 0px;
  box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 1);
  padding: 7px 20px 9px;
  display: flex;
  align-items: center;
  gap: 11px;
  width: 100%;
  max-width: max-content;
  &__text {
    color: rgba(59, 75, 100, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -2%;
  }
  &__rating {
    display: flex;
    gap: 2px;
    align-items: center;
    svg {
      fill: rgba(255, 204, 0, 1);
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
    }
  }
}
