mixin Cart-empty(param={})
    .cart-page__empty-message
        .n-title-xl Ваша корзина пуста
        .n-title-xs Пожалуйста, перейдите в
            a(href='#').text-blue каталог Анализов
            |или воспользуйтесь поиском если ищете что-то конкретное