mixin Footer-app(param={})
    .footer__app
        .footer__app_title Скачайте мобильное приложение
        .footer__app_categories
            a(href="#")
                img(src='/assets/img/categories/n-gp.png' alt='google play')
                //- +Img({
                //-     src: 'n-gp.png',
                //-     alt: 'google play'
                //- })
            a(href="#")
                img(src='/assets/img/categories/n-as.png' alt='app store')
                //- +Img({
                //-     src: 'n-as.png',
                //-     alt: 'app store'
                //- })
            a(href="#")
                img(src='/assets/img/categories/n-rs.png' alt='rustore')                
                //- +Img({
                //-     src: 'n-rs.png',
                //-     alt: 'rustore'
                //- })