// mixins UI
include ../components/ui/Input/Input
include ../components/ui/Input/Checkbox
include ../components/ui/Input/Toggle
include ../components/ui/Input/Radio
include ../components/ui/Input/Select
include ../components/ui/Input/InputFile
include ../components/ui/Tag/Tag
include ../components/ui/Breadcrumbs/Breadcrumbs
include ../components/ui/MyModal/MyModal
include ../components/ui/Pagination/Pagination
include ../components/ui/Tabs/TabsNav
include ../components/ui/Filters/Filters

include icon
include Header/Header
include Services-card/Services-card
include Reviews-card/Reviews-card
include Visit-service/Visit-service
include Visit-price/Visit-price
include Visit-attention/Visit-attention
include Visit-result/Visit-result
include Visit-text/Visit-text
include Visit-head/Visit-head
include Visit-info/Visit-info
include Visit-documents/Visit-documents
include Visit-procedure/Visit-procedure

include Sidebar/Sidebar
include Analisys-list/Analisys-list
include Analysis-cost/Analysis-cost
include Analysis-info/Analysis-info
include Analysis-text/Analysis-text
include Analysis-slider/Analysis-slider
include Analysis-card/Analysis-card
include Analysis-tags/Analysis-tags
include Analysis-row/Analysis-row

include About-grid/About-grid

include Menu-form/Menu-form
include Modal-request/Modal-request

include Info-popup/Info-popup

include Slider-navigation/Slider-navigation

include Ask-banner/Ask-banner
include Ask-popular/Ask-popular
include Ask-popular/Popular-card
include Ask-form/Ask-form

include Doctor-form/Doctor-form
include Doctor-form/Input-data
include Doctor-form/Choose-time
include Doctor-form/Doctor-slider
include Doctor-card/Doctor-card

include Doctor-banner/Doctor-banner
include Doctor-info/Doctor-info
include Doctor-services/Doctor-services
include Doctor-services/Ask-services-card
include Doctor-experts/Doctor-experts
include Doctor-experts/Experts-card
include Doctor-search/Doctor-search
include Collaboration-banner/Collaboration-banner
include Collaboration-direction/Collaboration-direction
include Collaboration-doctors/Collaboration-doctors
include Collaboration-choosing/Collaboration-choosing
include Collaboration-advantages/Collaboration-advantages
include Collaboration-form/Collaboration-form
include Invite-banner/Invite-banner
include Invite-steps/Invite-steps
include Invite-how-work/Invite-how-work
include Invite-form/Invite-form
include Corporate-actual/Corporate-actual
include Corporation-ask-info/Corporation-ask-info
include Corporate-quality/Corporate-quality
include Corporate-slider/Corporate-slider
include Corporate-form/Corporate-form
include Corporate-labs/Corporate-labs
include Corporate-banner/Corporate-banner
include Main-banner/Main-banner
include Card-links/Card-links
include Main-analysis-slider/Main-analysis-slider
include About-banner/About-banner
include Main-map/Main-map
include Adaptive-change-img/Adaptive-change-img
include Filter-result/Filter-result
include Banner/Banner
include Injection-tabs/Injection-tabs
include Movable-element/Movable-element
include News-block/News-block
include News-card/News-card

include Drop-down-list/Drop-down-list
include Analysis-result-search/Analysis-result-search

// img
include img/index

// Footer-components
include Footer/Footer-accordion/index
include Footer/Footer-app/index
include Footer/Footer-bottom/index
include Footer/Footer-logo/index
include Footer/Footer-payment/index
include Footer/Footer-social/index
include Footer/index

// Cart-page
include Btn-radio-full/index
include Attention/index
include cart-page/cart-card/index
include cart-page/cart-sidebar/cart-sidebar-content
include cart-page/cart-sidebar/content-for-tabs
include cart-page/cart-sidebar/index
include code/index
include tooltip-info/index
include toggle-block/index
include bonuses/index
include progress-bar/index
include slider/index

// Modals
include modals/modal-cheaper/index
include modals/modal-map/index
include modals/modal-required-documents/index
include modals/modal-business-application/index
include modals/modal-business-application/business-application-form
include modals/modal-franchise-format/index

// reviews
include Ars-sidebar-sheckboxes/index
include ars-sidebar-showmore/index

// details
include ars-sidebar-categories/index
include ard-simple-text/index
include ars-content-top/index
include ars-content-card-right/index
include ars-toggle-block/index
include ars-content-card/index

// labuda
include banner-labuda/index
include blocks-two/blocks-six-labuda/index
include blocks-two/blocks-two-labuda/index
include blocks-two/blocks-two-sale/index
include dashed-block/index
include gray-info/index
include card/index
include title18/index
include simple-text/index
include price/index
include btn-cart/index
include labuda-slider-nav/index

// order-page
include overflow-x-scroll/index
include bonus-block/index

// main
include N-cards-links/index

// analysis-result-search
include ars-sidebar/index
include ars-sidebar-popular/index
include ars-tags/index
include ars-filters-modal/index
include ars-categories-modal/index

// Franchise
include Franchise-page/Franchise-banner/index
include Franchise-page/Franchise-format/index
include Franchise-page/Franchise-format/card
include Franchise-page/Franchise-advantages/index
include Franchise-page/Franchise-form/index
include Franchise-page/Franchise-accordion/index
include Franchise-page/Franchise-slider/index
include Franchise-page/Franchise-slider/Franchise-slide
include Franchise-page/Franchise-survey/index
include Franchise-page/Franchise-calculation/index

// Cart-page
include cart-page/cart-empty/index
include cart-page/cart-data/index
include cart-page/cart-radio-services/index
include cart-page/cart-radio-duration/index
include cart-page/cart-radio-payments/index
include cart-page/cart-radio-gender/index
include cart-page/cart-inputs/index
include cart-page/cart-services/index
include cart-page/cart-payment/index
include cart-page/cart-order-details/index


//
include Promocode/index