// @import '../components/ui/Typography/Typography';
// @import '../components/ui/Input/Input';
// @import '../components/ui/Btn/Btn';
// @import '../components/ui/Grid/Grid';
// @import '../components/ui/Tooltip/Tooltip';
// @import '../components/ui/Menu/Menu';
// @import '../components/ui/Tag/Tag';
// @import '../components/ui/Breadcrumbs/Breadcrumbs';
// @import '../components/ui/MyModal/MyModal';
// @import '../components/ui/Accordion/Accordion';
// @import '../components/ui/СhoosingСity/ChoosingCity';
// @import '../components/ui/Pagination/Pagination';
// @import '../components/ui/Form/Form';
// @import '../components/ui/Loading/Loading';
// @import '../components/ui/Tabs/TabsNav';
// @import '../components/ui/Table/Table';
// @import '../components/ui/Filters/Filters';

@import 'Header/Header';
@import 'Services-card/Services-card';
@import 'Reviews-card/Reviews-card';
@import 'Visit-service/Visit-service';
@import 'Visit-price/Visit-price';
@import 'Visit-attention/Visit-attention';
@import 'Visit-result/Visit-result';
@import 'Visit-text/Visit-text';
@import 'Visit-head/Visit-head';
@import 'Visit-info/Visit-info';
@import 'Visit-documents/Visit-documents';
@import 'Visit-procedure/Visit-procedure';

@import 'Sidebar/Sidebar';
@import 'Analisys-list/Analisys-list';
@import 'Analysis-cost/Analysis-cost';
@import 'Analysis-info/Analysis-info';
@import 'Analysis-text/Analysis-text';
@import 'Analysis-slider/Analysis-slider';
@import 'Analysis-card/Analysis-card';
@import 'Analysis-tags/Analysis-tags';
@import 'Analysis-row/Analysis-row';
@import 'Collaboration-banner/Collaboration-banner';
@import 'Collaboration-direction/Collaboration-direction';
@import 'Collaboration-doctors/Collaboration-doctors';
@import 'Collaboration-choosing/Collaboration-choosing';
@import 'Collaboration-advantages/Collaboration-advantages';
@import 'Collaboration-form/Collaboration-form';
@import 'Invite-banner/Invite-banner';
@import 'Invite-steps/Invite-steps';
@import 'Invite-how-work/Invite-how-work';
@import 'Invite-form/Invite-form';
@import 'Corporate-actual/Corporate-actual';
@import 'Corporation-ask-info/Corporation-ask-info';
@import 'Corporate-quality/Corporate-quality';
@import 'Corporate-slider/Corporate-slider';
@import 'Corporate-form/Corporate-form';
@import 'Corporate-labs/Corporate-labs';
@import 'Corporate-banner/Corporate-banner';
@import 'Main-banner/Main-banner';
@import 'Card-links/Card-links';
@import 'Main-analysis-slider/Main-analysis-slider';
@import 'About-banner/About-banner';
@import 'Main-map/Main-map';
@import 'Adaptive-change-img/Adaptive-change-img';
@import 'Filter-result/Filter-result';
@import 'Banner/Banner';
@import 'Injection-tabs/Injection-tabs';
@import 'Movable-element/Movable-element';
@import 'News-block/News-block';
@import 'News-card/News-card';

@import 'About-grid/About-grid';

@import 'Menu-form/Menu-form';
@import 'Modal-request/Modal-request';

@import 'Info-popup/Info-popup';

@import 'Slider-navigation/Slider-navigation';

@import 'Ask-banner/Ask-banner';
@import 'Ask-popular/Ask-popular';
@import 'Ask-form/Ask-form';

@import 'Doctor-form/Doctor-form';
@import 'Doctor-card/Doctor-card';

@import 'Doctor-banner/Doctor-banner';
@import 'Doctor-info/Doctor-info';
@import 'Doctor-services/Doctor-services';
@import 'Doctor-experts/Doctor-experts';
@import 'Doctor-search/Doctor-search';

@import 'Drop-down-list/Drop-down-list';
@import 'Analysis-result-search/Analysis-result-search';

// Footer-components
@import 'Footer/Footer-accordion/index.scss';
@import 'Footer/Footer-app/index.scss';
@import 'Footer/Footer-bottom/index.scss';
@import 'Footer/Footer-logo/index.scss';
@import 'Footer/Footer-payment/index.scss';
@import 'Footer/Footer-social/index.scss';
@import 'Footer/index.scss';

// Cart-page
@import 'Btn-radio-full/index.scss';
@import 'Attention/index.scss';
@import 'cart-page/cart-card/index.scss';
@import 'cart-page/cart-sidebar/index.scss';
@import 'code/index.scss';
@import 'tooltip-info/index.scss';
@import 'toggle-block/index.scss';
@import 'bonuses/index.scss';
@import 'progress-bar/index.scss';
@import 'slider/index.scss';

// modals
@import 'modals/modal-cheaper/index.scss';
@import 'modals/modal-map/index.scss';
@import 'modals/modal-required-documents/index.scss';
@import 'modals/modal-business-application/index.scss';
@import 'modals/modal-franchise-format/index.scss';

// reviews
@import 'Ars-sidebar-sheckboxes/index.scss';
@import 'ars-sidebar-showmore/index.scss';

// details
@import 'ars-sidebar-categories/index.scss';
@import 'ard-simple-text/index.scss';
@import 'ars-content-top/index.scss';
@import 'ars-toggle-block/index.scss';
@import 'ars-content-card/index.scss';

// labuda
@import 'banner-labuda/index.scss';
@import 'blocks-two/blocks-six-labuda/index.scss';
@import 'blocks-two/blocks-two-labuda/index.scss';
@import 'blocks-two/blocks-two-sale/index.scss';
@import 'dashed-block/index.scss';
@import 'gray-info/index.scss';
@import 'card/index.scss';
@import 'title18/index.scss';
@import 'simple-text/index.scss';
@import 'price/index.scss';
@import 'btn-cart/index.scss';
@import 'labuda-slider-nav/index.scss';

// order
@import 'overflow-x-scroll/index.scss';
@import 'bonus-block/index.scss';

// main
@import 'N-cards-links/index.scss';

// analysis-result-search
@import 'ars-sidebar/index';
@import 'ars-sidebar-popular/index';
@import 'ars-tags/index';
@import 'ars-filters-modal/index';
@import 'ars-categories-modal/index';

// Franchise
@import 'Franchise-page/Franchise-banner/index';
@import 'Franchise-page/Franchise-format/index';
@import 'Franchise-page/Franchise-advantages/index';
@import 'Franchise-page/Franchise-form/index';
@import 'Franchise-page/Franchise-accordion/index';
@import 'Franchise-page/Franchise-slider/index';
@import 'Franchise-page/Franchise-survey/index';
@import 'Franchise-page/Franchise-calculation/index';

// Cart-page
@import 'cart-page/index';
@import 'cart-page/cart-empty/index';
@import 'cart-page/cart-data/index';
@import 'cart-page/cart-radio-services/index';
@import 'cart-page/cart-radio-duration/index';
@import 'cart-page/cart-radio-payments/index';
@import 'cart-page/cart-radio-gender/index';
@import 'cart-page/cart-inputs/index';
@import 'cart-page/cart-services/index';
@import 'cart-page/cart-payment/index';
@import 'cart-page/cart-order-details/index';

//
@import 'Promocode/index';
@import 'Note/index';

// Medical-center
@import 'Banner-slider/index';
@import 'Medical-center-address/index';
@import 'Medical-center-schedule/index';
@import 'Medical-center/Medical-center-services/index';
@import 'Medical-center/Medical-center-catalog/index';
@import 'Medical-center/Medical-center-legal-info/index';
@import 'Medical-center/Medical-center-slider-template/index';

@import 'Global-tooltip/index';
