// mixins UI
include ../components/ui/Input/Input
include ../components/ui/Input/Checkbox
include ../components/ui/Input/Toggle
include ../components/ui/Input/Radio
include ../components/ui/Input/Select
include ../components/ui/Input/InputFile
include ../components/ui/Tag/Tag
include ../components/ui/Breadcrumbs/Breadcrumbs
include ../components/ui/MyModal/MyModal
include ../components/ui/Pagination/Pagination
include ../components/ui/Tabs/TabsNav
include ../components/ui/Filters/Filters

include icon
include Header/Header
include Services-card/Services-card
include Reviews-card/Reviews-card
include Visit-service/Visit-service
include Visit-price/Visit-price
include Visit-attention/Visit-attention
include Visit-result/Visit-result
include Visit-text/Visit-text
include Visit-head/Visit-head
include Visit-info/Visit-info
include Visit-documents/Visit-documents
include Visit-procedure/Visit-procedure

include Sidebar/Sidebar
include Analisys-list/Analisys-list
include Analysis-cost/Analysis-cost
include Analysis-info/Analysis-info
include Analysis-text/Analysis-text
include Analysis-slider/Analysis-slider
include Analysis-card/Analysis-card
include Analysis-tags/Analysis-tags
include Analysis-row/Analysis-row

include About-grid/About-grid

include Menu-form/Menu-form

include Info-popup/Info-popup

include Slider-navigation/Slider-navigation

include Ask-banner/Ask-banner
include Ask-popular/Ask-popular
include Ask-popular/Popular-card
include Ask-form/Ask-form

include Doctor-form/Doctor-form
include Doctor-form/Input-data
include Doctor-form/Choose-time
include Doctor-form/Doctor-slider
include Doctor-card/Doctor-card

include Doctor-banner/Doctor-banner
include Doctor-info/Doctor-info
include Doctor-services/Doctor-services
include Doctor-services/Ask-services-card
include Doctor-experts/Doctor-experts
include Doctor-experts/Experts-card
include Doctor-search/Doctor-search
include Collaboration-banner/Collaboration-banner
include Collaboration-direction/Collaboration-direction
include Collaboration-doctors/Collaboration-doctors
include Collaboration-choosing/Collaboration-choosing
include Collaboration-advantages/Collaboration-advantages
include Collaboration-form/Collaboration-form
include Invite-banner/Invite-banner
include Invite-steps/Invite-steps
include Invite-how-work/Invite-how-work
include Invite-form/Invite-form
include Corporate-actual/Corporate-actual
include Corporation-ask-info/Corporation-ask-info