mixin Collaboration-doctors(param={})
    .collaboration-doctors
        .collaboration-doctors__title Врачи

        .collaboration-doctors__list
            - 
                const doctors = [
                    "Гинеколог",
                    "Акушер-гинеколог",
                    "Репродуктолог",
                    "Уролог",
                    "Андролог",
                    "Дерматолог",
                    "Аллерголог",
                    "Иммунолог",
                    "Гастроэнтеролог",
                    "Гепатолог",
                    "Пульмонолог",
                    "Нефролог",
                    "Терапевт",
                    "Кардиолог",
                    "Врач превентивной медицины",
                    "Ревматолог",
                    "Онколог",
                    "Хирург",
                    "Педиатр",
                    "Эндокринолог",
                    "Невролог",
                    "Гематолог",
                    "Инфекционист",
                    "Врач спортивной медицины"
                ];
            - for (let i = 0; i < doctors.length; i += 6)
                div.collaboration-doctors__col
                    - for (let j = i; j < i + 6 && j < doctors.length; j++)
                        a(href='#')
                            img(src="/assets/img/categories/akusher.png", alt="")
                            | #{doctors[j]}