mixin Info-popup(param={})
  .info-popup
    .ico-info 
      +icon('a-info')
      .ico-popup
        span На сайте указан максимально возможный срок выполнения исследования. Он отражает время выполнения исследования в лаборатории и не включает время на доставку биоматериала до лаборатории.
      