mixin Info-popup(param={})
  .info-popup
    .ico-info 
      +icon('a-info')
      .ico-popup
        span Уважаемый Коллега, если Вы заинтересованы в сотрудничестве - вы можете здесь оставить свои контактные данные, и наши специалисты свяжутся с Вами в самое ближайшее время. 
      