mixin Footer-logo(param={})
    
        a(href='#').footer__logo
            img(src='/assets/img/categories/medmagroup.png' alt='medmagroup').show-on-desktop
            //- +Img({
            //-     src: 'img/medmagroup.png',
            //-     alt: 'medmagroup',
            //-     class: 'show-on-desktop'
            //- })
            img(src='/assets/img/categories/medmagroup-sm.png' alt='medmagroup').show-on-mobile
            //- +Img({
            //-     src: 'img/medmagroup-sm.png',
            //-     alt: 'medmagroup',
            //-     class: 'show-on-mobile'
            //- })