.about-banner:not(.about-banner__franchise, .about-banner__form) {
  border-radius: 20px;
  margin-top: 56px;
  .about-banner {
    &__columns {
      padding: 99px 90px 99px;
      justify-content: flex-end;
    }
    &__img {
      position: absolute;
      bottom: 0;
      left: 9%;
      max-width: 376px;
      width: 100%;
      height: auto;
      max-height: 428px;
      overflow: hidden;
      z-index: 1;
      &-right {
        position: absolute;
        overflow: hidden;
        width: 126px;
        height: 149px;
        right: 20px;
        bottom: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
      &-left {
        position: absolute;
        width: 148px;
        height: 175px;
        top: 20px;
        left: 20px;
        overflow: hidden;
        z-index: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @include xl {
      &__columns {
        padding-right: 40px;
        gap: 20px;
      }
    }
    @media (max-width: 1400px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @include md {
      margin-top: 0;
      &__img {
        left: 1%;
        max-width: 323px;
        max-height: 348px;
      }
      &__columns {
        padding-right: 10px;
        gap: 10px;
      }
    }
  }
  @media (max-width: 1000px) {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0;
    align-items: center;
    gap: 42px;

    .about-banner {
      &__subtitle {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: left;
      }
      &__img {
        position: static;
        order: 2;
      }
      &__columns {
        order: 1;
        padding: 0;
        flex-direction: column;
        gap: 40px;
      }
      &__img-right {
        max-width: 119px;
        max-height: 141px;
        right: 34px;
        bottom: 134px;
      }
      &__img-left {
        max-width: 121px;
        max-height: 142px;
        left: 23px;
        bottom: 181px;
        top: initial;
      }
      &__col {
        display: grid;
        grid-template-columns: 65px 1fr;
        column-gap: 15px;
        row-gap: 8px;
        max-width: 100%;
        svg {
          width: 65px;
          height: 65px;
          margin-bottom: 0;
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }
    }
  }
}
.about-banner {
  background-color: rgb(0, 171, 223);
  position: relative;
  &__columns {
    display: flex;
    box-sizing: border-box;
    gap: 45px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    max-width: 143px;
    svg {
      width: 55px;
      height: 55px;
      fill: #fff;
      margin-bottom: 5px;
    }
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #fff;
  }
  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #fff;
    text-align: center;
  }

  &.about-banner__franchise {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 70px;
    .title {
      color: rgba(255, 255, 255, 1);
      font-size: 36px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 50px;
    }
    .subtitle {
      color: rgba(255, 255, 255, 1);
      font-size: 36px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
    .about-banner {
      &__columns {
        justify-content: center;
      }
    }
    @include sm {
      padding-top: 40px;
      padding-bottom: 40px;
      .title {
        font-size: 24px;
        margin-bottom: 40px;
      }
      .subtitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
      .about-banner {
        &__columns {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  &.about-banner__form {
    padding: 37px;
    .subtitle {
      color: rgba(255, 255, 255, 1);
      font-size: 36px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
    @include sm {
      padding: 38px 0;

      .subtitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
}
