.a-card {
  max-height: 250px;
  min-height: 250px;
  height: 100%;

  border: 1px solid #b2bac6;
  display: flex;
  flex-direction: column;
  padding: 25px 40px 35px;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    .a-subtitle {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 8px;
    }
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    .a-title-sm {
      color: rgb(0, 171, 223) !important;
      font-size: 28px;
    }
    .a-btn-basket {
      background-color: #00abdf;
      padding: 8px 15px 8px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      border-radius: 8px;
      max-width: 107px;
      width: 100%;
      svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
      span {
        color: #fff;
        margin-bottom: 0;
      }
      &:hover {
        background-color: #11c3f3;
      }
    }
  }
  .a-subtitle {
    font-weight: 500 !important;
    color: rgb(59, 75, 100);

    svg {
      width: 24px;
      height: 24px;
      fill: transparent;
      stroke: #00abdf;
    }
  }
  .a-title-sm {
    text-align: left !important;
    margin-bottom: 0 !important;
    &:hover {
      color: rgb(0, 171, 223);
    }
  }
  @media (max-width: 500px) {
    padding: 25px 20px 30px;
    max-height: 280px;
    min-height: 280px;
    .a-title-sm {
      line-height: 20px;
    }
    &__bottom {
      .a-subtitle {
        font-size: 12px !important;
        line-height: 14px !important;
      }
      .a-card__btn {
        .a-title-sm {
          font-size: 20px;
          line-height: 22px;
        }
        .a-btn-basket {
          padding: 5px 12px 5px 8px;
          max-width: 88px;
          svg {
            width: 24px;
            height: 24px;
          }
          .a-subtitle {
            line-height: 22px !important;
          }
        }
      }
    }
  }
}
