.ask-doctor{
    .ask-banner{
        // padding-left: 90px;
        // padding-right: 90px;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 102px;
        &__img{
            position: static;
            width: 444px;
            min-width: 444px;
            height: 417px;
            position: relative;
            &:after{
                content: 'Врач отвечает ...';
                position: absolute;
                left: 88px;
                bottom: 164px;
                width: 154px;
                height: 40px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px 20px 0 20px;
                background-color: #fff;
                color: rgb(0, 171, 223);
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0%;
                font-style: italic;
            }
            &::before{
                content: "";
                display: block;
                width: 120px;
                height: 62px;
                background-image: url('/assets/img/categories/sms.png');
                background-size: cover; 
                position: absolute;
                top: 95px;
                right: 26px;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            gap: 45px;
            max-width: 400px;
            width: 100%;
        }
        &__title{
            font-size: 32px;
        }
        &__subtitle{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 0%;
            color: #fff;
        }
        &__btn{
            background-color: #EA516D;
            color: #fff;
            border-radius: 10px;
            padding: 1px 38px;
            max-width: 232px;
            width: 100%;
            height: 45px;
            box-sizing: border-box;
            transition: background-color 0.3s ease;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -2%;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-color: #F26E88;
            }
        }
        @include sm{
            padding-left: 28px;
            padding-right: 28px;
            gap: 20px;
        }
        @include xs{
            gap: 15px;
            flex-direction: column;
            background-color: transparent;
            padding-top: 46px;
            padding-bottom: 50px;
            &__img{
                width: 289px;
                min-width: 289px;
                height: 273px;
                &::after{
                    width: 126px;
                    height: 34px;
                    left: 51px;
                    bottom: 97px;
                    font-size: 12px;
                }
                &::before{
                    width: 92px;
                    height: 47px;
                    top: 49px;
                    right: 9px;
                }
            }
            &__content{
                gap: 25px;
                align-items: center;
            }
            &__title{
                font-size: 28px;
                line-height: 36px;
            }
            &__subtitle{
                text-align: center;
                font-size: 14px;
                line-height: 24px;
            }
            &__btn{
                line-height: 24px;
                max-width: 100%;
            }
        }
    }
}