mixin Doctor-banner(param={})
    .ask-banner
        .ask-banner__img
            img(src="/assets/img/categories/doctor-banner.png", alt="")
            //- .sms
            //-     img(src="/assets/img/categories/sms.png", alt="")
        .ask-banner__content
            .ask-banner__title Спроси врача
            .ask-banner__subtitle Сервис медицинской поддержки пациентов и медицинских работников от лаборатории СИТИЛАБ
            button.ask-banner__btn Выбрать услугу
