.visit-attention {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgba(249, 172, 1, 0.05);
  padding: 31px 71px;
  row-gap: 22px;
  > div {
    &:nth-child(1) {
      max-width: 303px;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    svg {
      fill: none;
      stroke: #f9ac01;
    }
  }
  &__title {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.44px;
    margin-top: 12px;
  }
  &__subtitle {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
  }
  &__list {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    li {
      color: var(--blue-gray, #3b4b64);
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
      display: flex;
      align-items: center;
      column-gap: 17px;
      &::before {
        content: ' ';
        background-color: #f9ac01;
        width: 8px;
        min-width: 8px;
        height: 8px;
        border-radius: 100%;
      }
    }
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    padding: 14px 37px 40px 38px;
    row-gap: 16px;
    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: -0.28px;
      order: 2;
    }
    &__list {
      order: 1;
    }
  }
}
