.visit-attention {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgba(249, 172, 1, 0.05);
  padding: 31px 71px;
  row-gap: 22px;
  > div {
    &:nth-child(1) {
      max-width: 303px;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    svg {
      fill: none;
      stroke: #f9ac01;
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
  }
  &__title {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    letter-spacing: -0.44px;
    margin-top: 12px;
  }
  &__subtitle {
    color: var(--blue-gray, #3b4b64);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
  }
  &__list {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    li {
      color: var(--blue-gray, #3b4b64);
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
      display: flex;
      align-items: center;
      column-gap: 17px;
      &::before {
        content: ' ';
        background-color: #f9ac01 !important;
        width: 8px !important;
        min-width: 8px !important;
        height: 8px !important;
        border-radius: 100% !important;
      }
    }
  }
  &__sperm {
    display: flex;
    column-gap: 28px;
    padding: 17px 42px;
    > div {
      display: flex;
      max-width: max-content !important;
      align-items: center;
      &:nth-child(1) {
        column-gap: 13px;
      }
    }
    .visit-attention {
      &__links {
        a {
          display: flex;
          align-items: center;
          column-gap: 13px;

          color: #00abdf;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.36px;
          text-decoration-line: underline;

          svg {
            stroke: #00abdf;
            width: 24px;
            min-width: 24px;
            height: 24px;
          }
        }
      }
      &__title {
        margin-top: 0;
      }
    }
  }
  &__vaccine {
    display: flex;
    div {
      max-width: max-content !important;
      display: flex;
      column-gap: 13px;
    }
    .visit-attention {
      &__title {
        margin-top: 0;
      }
    }
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    padding: 14px 37px 40px 38px;
    row-gap: 16px;
    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: -0.28px;
      order: 2;
    }
    &__list {
      order: 1;
    }
    &__vaccine {
      padding: 35px 39px 40px 38px;
    }
  }
}
.visit-contraindications {
  display: none;
  @media (max-width: 1000px) {
    display: block;
    padding: 50px 20px;
    border-bottom: 1px solid var(--gray1, #b2bac6);
    &__title {
      color: var(--gray1, #b2bac6);
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
      text-transform: uppercase;
    }
  }
}
