mixin Visit-attention(param={})
  .visit-attention
    div
      +icon('icon-attention')
      .visit-attention__title=param.title
    .visit-attention__subtitle=param.subtitle
    ul.visit-attention__list 
      li Взятие урогенитальных мазков и соскобов
      li  Взятие гинекологических мазков
      li  Взятие соскобов на демодекс
      li  Взятие секрета предстательной железы
      li  Взятие мазков из раны
      li  Пункции, биопсии и другие хирургические действия
      li  Соскоб кожи
      li  Глюкозотолерантный тест