mixin Visit-attention(param={})
  if(param.attentionAnalysis)
    .visit-attention
      div
        +icon('icon-attention')
        .visit-attention__title=param.title
      .visit-attention__subtitle=param.subtitle
      ul.visit-attention__list 
        li Взятие урогенитальных мазков и соскобов
        li  Взятие гинекологических мазков
        li  Взятие соскобов на демодекс
        li  Взятие секрета предстательной железы
        li  Взятие мазков из раны
        li  Пункции, биопсии и другие хирургические действия
        li  Соскоб кожи
        li  Глюкозотолерантный тест

  if(param.attentionSperm)
    .visit-attention.visit-attention__sperm
      div
        +icon('icon-attention')
        .visit-attention__title=param.title
      .visit-attention__links
        a(href="#") 
          +icon('icon-file')
          span Правила сбора биоматериала
      .visit-attention__links
        a(href="#") 
          +icon('icon-file')
          span Анкета пациента
        
  if(param.attentionVaccine)
    .visit-attention.visit-attention__vaccine
      div
        +icon('icon-attention')
        .visit-attention__title=param.title
    .visit-contraindications
      .visit-contraindications__title Имеются противопоказания. Необходима консультация специалиста.