mixin Corporate-actual(param={})
    .actual.corporate-actual
        .actual__title Уникальная программа СИТИЛАБ для корпоративных клиентов помогает выявить точки роста, разработать план развития и увеличить выручку лабораторных услуг на 50-300%
        ul.actual__list
            li 
                //- .actual__top
                .actual__service-number 20
                .actual__service-name лет на рынке
                //- +icon('icon-family')
            //- .actual__bottom 
            //-     div Ребенок испытывает минимум стресса, так как сдает анализы в спокойной домашней обстановке. Опытная медсестра аккуратно примет анализы у ребенка любого возраста.
            li 
                //- .actual__top
                .actual__service-number 57 000
                .actual__service-name исследований 
                    span в день
                //- +icon('icon-activity')
            //- .actual__bottom 
            //-     div Для сдачи анализов не придется нарушать рабочий график или откладывать важные дела. Сдать биоматериал можно дома или в офисе в удобное время.
            li 
                //- .actual__top
                .actual__service-number 4500+
                .actual__service-name исследований 
                    span в каталоге
                //- +icon('icon-elder')
            //- .actual__bottom 
            //-     div Посещение медицинского центра может вызывать неудобства и дискомфорт. Выезд медсестры на дом сэкономит ваше время.
            li 
                //- .actual__top
                .actual__service-number 5000+
                .actual__service-name экспертов лабораторной 
                    span диагностики
                //- +icon('icon-health')
            //- .actual__bottom 
            //-     div При необходимости соблюдения постельного режима и других проблемах со здоровьем сдача анализов дома – оптимальное решение.
