mixin Medical-center-address(param={})
    .medical-center__address.address 
        .address__col.address__col-metro
            h1.address__title.text-blue Медицинские анализы Москва, Хорошевское шоссе, д. 90
            .all-blick-data
                ul.metro-block-new
                    li 
                        img(src="/assets/img/categories/m.png" alt="")
                        p Хорошёвская 
                            +icon('man') 
                            span 132 м
                    li 
                        img(src="/assets/img/categories/m.png" alt="")
                        p Хорошёвская 
                            +icon('man') 
                            span 132 м
                    li 
                        img(src="/assets/img/categories/m.png" alt="")
                        p Хорошёвская 
                            +icon('man') 
                            span 132 м
            a(href='tel:+74997050808').address__phone.text-blue +7 (499) 705-08-08
        .address__col.address__col-advantages
            ul.address__advantages
                li 
                    +icon('a-calendar')
                    | Выезд на дом
                li 
                    +icon('a-calendar')
                    | Удобная парковка
                li 
                    +icon('a-calendar')
                    | Срочные анализы (CITO)          
                li 
                    +icon('a-calendar')
                    | Выезд с колясками
                li 
                    +icon('a-calendar')
                    | Дневной стационар
                li 
                    +icon('a-calendar')
                    | Оплата картой
                li 
                    +icon('a-calendar')
                    | Работа без выходных
                li 
                    +icon('a-calendar')
                    | Передача БМ в лабораторию
        .address__col.address__col-tabs
            +TabsNav({
                items: [
                { label: 'На карте', targetId: 'tab1' },
                { label: 'Панорама', targetId: 'tab2' },
                { label: 'Фото', targetId: 'tab3' },
                { label: 'Маршрут', targetId: 'tab4' }
                ],
                noCar: true,
                noSvg: true,
            })
            .tabb.max-height#tab1(style="width: 100%; height: max-content; background: transparent;") 
                .address__map
                    +Img({
                        src: 'address-map.png',
                        alt: 'address-map'
                    })
            .tabb.max-height#tab2(style="width: 100%; height: max-content; background: transparent; display: none;") 
                .address__panorama
                    +Img({
                        src: 'address-map.png',
                        alt: 'address-map'
                    })
            .tabb.max-height.tabb-slider#tab3(style="width: 100%; height: max-content; background: transparent; display: none;" data-tab-content="address-slider") 
                .medical-center__address_slider.swiper
                    .swiper-wrapper 
                        .swiper-slide
                            +Img({
                                src: 'address-slider-1.png',
                                alt: 'address-slider-1'
                            })
                        .swiper-slide
                            +Img({
                                src: 'address-map.png',
                                alt: 'address-map'
                            })
                        .swiper-slide
                            +Img({
                                src: 'test-horizontal.png',
                                alt: 'address-map'
                            })
                        .swiper-slide
                            +Img({
                                src: 'test-vertical.png',
                                alt: 'address-map'
                            })
                .medical-center__address-nav
                    +Slider-navigation({})
                .medical-center__address-pagination
            .tabb#tab4(style="width: 100%; height: max-content; background: transparent; display: none;") 
                .gray-container
                    .gray-container__title Как добраться
                    .gray-container__item
                        .gray-container__item_title Пешком
                            +icon('icon-man')
                        .gray-container__item_subtitle Станция метро «Полежаевская» (первый вагон из центра, из стеклянных дверей направо, первая лестница налево)
                        .gray-container__item_subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus asperiores corrupti fugiat vel est sit obcaecati, facere ipsum, sequi veniam deleniti dolor corporis nemo alias similique aliquid maiores ad nobis in quia consequatur error et! Ducimus illo doloremque, repellendus quae deleniti ex cumque provident fugiat quis fuga nisi dolorem assumenda accusamus modi quasi nesciunt, debitis numquam reiciendis eligendi. Quaerat tempora nisi ipsum totam officiis adipisci reprehenderit dolore officia optio eius nihil explicabo repellendus eligendi, sapiente nesciunt, amet nobis? Unde, aliquam, tempora iste possimus eligendi hic vitae facere sint corrupti numquam laboriosam? Tenetur rerum et harum quaerat? Animi totam expedita illo?
                    .gray-container__item
                        .gray-container__item_title Транспортом
                            +icon('icon-man')
                        .gray-container__item_subtitle Движение по Хорошевскому шоссе из Москвы.
                    a(href='#').gray-container__btn
                        | Построить маршрут
                        +icon('route')